<section class="relative flex flex-col items-start justify-center max-w-dvw fade-in">
    <hlm-skeleton class="h-[clamp(16rem,45vw,35rem)] md:h-[45vw] w-full rounded-none" />
</section>
<section
    class="relative w-full flex flex-col items-center justify-center my-5 md:my-7 px-8 md:px-12 max-w-dvw fade-in"
>
    <div class="flex flex-col md:flex-row justify-evenly w-full gap-8 md:gap-8">
        <hlm-skeleton class="h-56 w-full md:w-1/2 rounded-none" />
        <hlm-skeleton class="h-56 w-full md:w-1/2 rounded-none" />
    </div>
</section>
<section class="relative w-full flex flex-col md:flex-row items-center justify-evenly fade-in">
    <hlm-skeleton class="h-84 w-full rounded-none" />
</section>
<section class="relative w-full flex flex-col md:flex-row items-center justify-evenly fade-in">
    <hlm-skeleton class="h-120 w-full rounded-none" />
</section>
<section
    class="relative w-full flex flex-col items-center justify-center my-5 md:my-12 px-8 md:px-12 max-w-dvw fade-in"
>
    <div class="flex flex-col md:flex-row items-center justify-evenly w-full gap-8 md:gap-8">
        <hlm-skeleton class="h-56 w-full md:w-1/3 rounded-none" />
        <hlm-skeleton class="h-76 w-full md:w-76 rounded-full" />
    </div>
</section>
<section class="relative w-full flex flex-col md:flex-row items-center justify-evenly fade-in">
    <hlm-skeleton class="h-72 w-full rounded-none" />
</section>
