<div class="flex gap-3" [class.flex-row]="!vertical" [class.flex-col]="vertical">
    <button
        hlmBtn
        (click)="iniciarSesion()"
        [disabled]="deshabilitarBoton()"
        class="px-4 text-[0.7rem] h-[1.9rem] lg:text-[0.9rem] lg:h-[2.1rem]"
    >
        @if (deshabilitarBoton()) {
            <hlm-spinner />
        }
        Inicia Sesión
    </button>
    <button
        hlmBtn
        variant="secondary"
        (click)="iniciarSesion()"
        [disabled]="deshabilitarBoton()"
        class="px-4 text-[0.7rem] h-[1.9rem] lg:text-[0.9rem] lg:h-[2.1rem]"
    >
        @if (deshabilitarBoton()) {
            <hlm-spinner />
        }
        Regístrate
    </button>
</div>
