<section
    class="w-full h-full md:py-24 flex items-center justify-center bg-(--gris) bg-cover bg-center bg-no-repeat"
    [style.background-image]="`url(${urlFondo})`"
>
    <div class="w-full md:w-100.5 bg-(--blanco) p-6.25">
        <form hlmCardContent id="otp-form" [formGroup]="form" (ngSubmit)="verificarCodigo()">
            <p hlmP class="font-bold text-2xl text-(--negro)/80 py-1.25">Confirme su cuenta</p>
            <div class="flex flex-row items-start justify-center mt-4">
                <img [src]="urlImagen" class="size-14" />
                <p hlmP class="text-sm text-(--negro)/80 pl-1">
                    Hemos enviado un código mediante un mensaje de Correo electrónico a {{ ocultarCorreo() }}. Para confirmar su cuenta, ingrese el código.
                </p>
            </div>
            <div class="flex flex-col mt-4 gap-1">
                <p hlmP class="font-bold text-sm text-(--negro)/80">Código</p>
                <input
                    hlmInput
                    formControlName="codigo"
                    class="placeholder:italic h-8 text-sm border-(--negro)/80 focus-visible:border-transparent focus-visible:ring-0 focus-visible:outline-solid focus-visible:outline-2 focus-visible:outline-(--calipso) focus-visible:data-[matches-spartan-invalid=true]:outline-0 transition-none"
                    placeholder="Ingrese el código"
                />
                @if (form.controls.codigo.invalid && form.controls.codigo.touched) {
                    <p hlmP class="text-xs text-destructive flex flex-row items-center gap-1">
                        <ng-icon hlm hlmAlertIcon name="lucideCircleX" size="16px" />
                        código no válido.
                    </p>
                }
                <button
                    hlmBtn
                    variant="link"
                    type="button"
                    class="font-bold p-0 h-fit w-fit text-(--azul) hover:no-underline hover:text-(--azul)/80 flex items-center gap-1"
                    (click)="reenviarCodigo()"
                    [disabled]="reenviandoCodigo()"
                >
                    @if (reenviandoCodigo()) {
                        <hlm-spinner class="text-base" />
                    }
                    Reenviar el código
                </button>
            </div>
            <button
                hlmBtn
                type="submit"
                class="w-full mt-5 h-8 text-sm font-bold bg-(--calipso) border-[1.6px] border-(--calipso) hover:bg-(--calipso)/80 flex items-center gap-1"
                [disabled]="verificandoCodigo()"
            >
                @if (verificandoCodigo()) {
                    <hlm-spinner class="text-base" />
                }
                Confirmar cuenta
            </button>
            @if (error()) {
                <div class="flex flex-row items-start gap-2 p-3.5 mt-5 bg-destructive/5 border-destructive border-2 rounded-xl">
                    <div class="size-5">
                        <ng-icon hlm hlmAlertIcon name="lucideCircleX" size="18px" class="text-destructive" />
                    </div>
                    <p hlmP class="text-sm">{{ error() }}</p>
                </div>
            }
        </form>
    </div>
</section>
