.fade-in {
    opacity: 0;
    animation: fadeIn 400ms ease-in forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.cabecera-norma {
    width: calc(100% - 36px - 12px);
}

.selectConBoton {
    width: calc(100% - var(--spacing) * 2 - var(--spacing) * 9);
}

@media (width >= 48rem) {
    .widthMitadConGap2 {
        width: calc(50% - var(--spacing));
    }
}
