<footer class="px-8 md:px-6 py-2 relative">
    <div class="w-full max-w-2xl mx-auto flex gap-4 md:gap-0 flex-row justify-between items-center">
        <a routerLink="/">
            <img
                class="w-30 md:w-30 drop-shadow drop-shadow-black/30 select-none mr-4 md:mr-0"
                [src]="urlLogo()"
                alt="Logo Todo en Orden"
            />
        </a>
        <nav>
            <ul class="flex flex-wrap gap-1 md:gap-6 justify-center items-center">
                <li>
                    <a
                        hlmBtn
                        class="py-0 text-xs md:text-base"
                        variant="link"
                        routerLink="/privacidad"
                        >Privacidad</a
                    >
                </li>
                <li>
                    <a
                        hlmBtn
                        class="py-0 text-xs md:text-base"
                        variant="link"
                        routerLink="/aviso-legal"
                        >Aviso Legal</a
                    >
                </li>
                <li>
                    <a
                        hlmBtn
                        class="py-0 text-xs md:text-base"
                        variant="link"
                        routerLink="/politica-cookies"
                        >Política de Cookies</a
                    >
                </li>
            </ul>
        </nav>
    </div>
    <div class="text-center flex justify-center-safe items-center gap-4">
        <small class="opacity-80 text-xs md:text-sm">© 2025 Ankatu SpA </small>
        <small class="opacity-80 text-xs md:text-sm">·</small>
        <a
            hlmBtn
            variant="link"
            href="mailto:contacto@ankatu.cl"
            class="font-normal pl-0 opacity-80 text-xs md:text-sm"
            >contacto@ankatu.cl</a
        >
    </div>
</footer>
