<footer class="px-8 md:px-6 py-8 relative bg-negro flex flex-col gap-12 w-full">
    <div class="flex gap-0 flex-col md:flex-row justify-center items-start">
        <div class="flex flex-col gap-0.5 items-start">
            <a routerLink="/">
                <img appFadeIn class="h-[5.1rem] w-36 select-none object-cover object-top" [src]="urlLogo" alt="Logo Todo en Orden" />
            </a>
            <a
                hlmBtn
                variant="link"
                href="https://www.instagram.com/todoenorden_chile/"
                target="_blank"
                rel="noopener noreferrer"
                class="text-blanco! text-sm md:text-[0.7rem] font-normal opacity-70 ml-3 mt-2 decoration-blanco!"
            >
                <ng-icon hlm size="sm" name="lucideInstagram" />
                Instagram
            </a>
            <a
                hlmBtn
                variant="link"
                href="https://www.tiktok.com/@todoenorden_chile"
                target="_blank"
                rel="noopener noreferrer"
                class="text-blanco! text-sm md:text-[0.7rem] font-normal opacity-70 ml-3 decoration-blanco! px-3!"
            >
                <app-icon [src]="urlLogoTikTok" class="size-4 text-blanco"></app-icon>
                TikTok
            </a>
            <a
                hlmBtn
                variant="link"
                href="https://www.linkedin.com/company/todoenordenchile/"
                target="_blank"
                rel="noopener noreferrer"
                class="text-blanco! text-sm md:text-[0.7rem] font-normal opacity-70 ml-3 decoration-blanco! px-3!"
            >
                <app-icon [src]="urlLogoLinkedIn" class="size-4 text-blanco"></app-icon>
                LinkedIn
            </a>
            <a
                hlmBtn
                variant="link"
                href="https://www.youtube.com/@todoenordenchile"
                target="_blank"
                rel="noopener noreferrer"
                class="text-blanco! text-sm md:text-[0.7rem] font-normal opacity-70 ml-3 decoration-blanco! px-3!"
            >
                <app-icon [src]="urlLogoYouTube" class="size-4 text-blanco"></app-icon>
                YouTube
            </a>
        </div>
        <div class="flex flex-col gap-0.5 items-start mt-6 md:mt-14">
            <a hlmBtn variant="link" routerLink="/nosotros" class="text-blanco! text-base md:text-xs font-normal decoration-blanco!"> Nosotros </a>
            <a
                hlmBtn
                variant="link"
                routerLink="/nosotros"
                fragment="sobre-todo-en-orden"
                class="text-blanco! text-sm md:text-[0.7rem] font-normal opacity-70 mt-1 decoration-blanco!"
            >
                Sobre Todo En Orden
            </a>
            <a
                hlmBtn
                variant="link"
                routerLink="/nosotros"
                fragment="nuestros-valores"
                class="text-blanco! text-sm md:text-[0.7rem] font-normal opacity-70 decoration-blanco!"
            >
                Nuestros Valores
            </a>
            <a
                hlmBtn
                variant="link"
                routerLink="/nosotros"
                fragment="nuestros-objetivos"
                class="text-blanco! text-sm md:text-[0.7rem] font-normal opacity-70 decoration-blanco!"
            >
                Nuestros Objetivos
            </a>
            <a
                hlmBtn
                variant="link"
                routerLink="/nosotros"
                fragment="nuestro-equipo"
                class="text-blanco! text-sm md:text-[0.7rem] font-normal opacity-70 decoration-blanco!"
            >
                Nuestro Equipo
            </a>
        </div>
        <div class="flex flex-col gap-0.5 items-start mt-6 md:mt-14">
            <a hlmBtn variant="link" routerLink="/servicios" class="text-blanco! text-base md:text-xs font-normal decoration-blanco!"> Servicios </a>
            <a
                hlmBtn
                variant="link"
                routerLink="/servicios"
                fragment="nuestros-servicios"
                class="text-blanco! text-sm md:text-[0.7rem] font-normal opacity-70 mt-1 decoration-blanco!"
            >
                Nuestros Servicios
            </a>
            <a
                hlmBtn
                variant="link"
                routerLink="/servicios"
                fragment="principales-funciones"
                class="text-blanco! text-sm md:text-[0.7rem] font-normal opacity-70 decoration-blanco!"
            >
                Principales Funciones
            </a>
        </div>
        <div class="flex flex-col gap-0.5 items-start mt-6 md:mt-14">
            <a hlmBtn variant="link" routerLink="/planes" class="text-blanco! text-base md:text-xs font-normal decoration-blanco!"> Planes </a>
            <a
                hlmBtn
                variant="link"
                routerLink="/planes"
                fragment="nuestros-planes"
                class="text-blanco! text-sm md:text-[0.7rem] font-normal opacity-70 mt-1 decoration-blanco!"
            >
                Nuestros Planes
            </a>
            <a
                hlmBtn
                variant="link"
                routerLink="/planes"
                fragment="ofertas-y-promociones"
                class="text-blanco! text-sm md:text-[0.7rem] font-normal opacity-70 decoration-blanco!"
            >
                Ofertas y Promociones
            </a>
        </div>
        <div class="flex flex-col gap-0.5 items-start mt-6 md:mt-14">
            <a hlmBtn variant="link" routerLink="/contacto" class="text-blanco! text-base md:text-xs font-normal decoration-blanco!"> Contacto </a>
            <a
                hlmBtn
                variant="link"
                routerLink="/contacto"
                fragment="formulario-de-contacto"
                class="text-blanco! text-sm md:text-[0.7rem] font-normal opacity-70 mt-1 decoration-blanco!"
            >
                Formulario de Contacto
            </a>
        </div>
    </div>
    <div class="flex flex-col md:flex-row justify-center-safe md:items-center gap-1 md:gap-12">
        <a
            hlmBtn
            variant="link"
            href="https://ankatu.cl/"
            target="_blank"
            rel="noopener noreferrer"
            class="font-normal opacity-40 text-xs md:text-[0.65rem] text-blanco! h-5! md:h-7! text-left justify-start md:justify-center decoration-blanco!"
            >© 2026 Ankatu SpA
        </a>
        <a
            hlmBtn
            variant="link"
            routerLink="/privacidad"
            class="font-normal opacity-40 text-xs md:text-[0.65rem] text-blanco! h-5! md:h-7! text-left justify-start md:justify-center decoration-blanco!"
            >Privacidad</a
        >
        <a
            hlmBtn
            variant="link"
            routerLink="/aviso-legal"
            class="font-normal opacity-40 text-xs md:text-[0.65rem] text-blanco! h-5! md:h-7! justify-start md:justify-center decoration-blanco!"
            >Aviso Legal</a
        >
        <a
            hlmBtn
            variant="link"
            routerLink="/politica-de-cookies"
            class="font-normal opacity-40 text-xs md:text-[0.65rem] text-blanco! h-5! md:h-7! justify-start md:justify-center decoration-blanco!"
            >Política de Cookies</a
        >
    </div>
</footer>
