<footer class="px-8 md:px-6 py-8 relative bg-(--negro) flex flex-col gap-12 max-w-dvw">
    <div class="flex gap-0 flex-col md:flex-row justify-center items-start">
        <div class="flex flex-col gap-0.5 items-start">
            <a routerLink="/">
                <img
                    class="h-[5.1rem] w-36 select-none object-cover object-top"
                    [src]="urlLogo"
                    alt="Logo Todo en Orden"
                />
            </a>
            <a
                hlmBtn
                variant="link"
                href="https://www.instagram.com/ankatu.spa/"
                target="_blank"
                rel="noopener noreferrer"
                class="text-(--blanco) text-sm md:text-[0.7rem] font-normal opacity-70 ml-3 mt-2"
            >
                <ng-icon hlm size="sm" name="lucideInstagram" />
                Instagram
            </a>
            <a
                hlmBtn
                variant="link"
                href="https://x.com/ankatu_spa/"
                target="_blank"
                rel="noopener noreferrer"
                class="text-(--blanco) text-sm md:text-[0.7rem] font-normal opacity-70 ml-3"
            >
                <ng-icon hlm size="sm" name="lucideTwitter" />
                Twitter
            </a>
            <a
                hlmBtn
                variant="link"
                href="https://www.facebook.com/people/Ankatu-SpA/61588151990636/"
                target="_blank"
                rel="noopener noreferrer"
                class="text-(--blanco) text-sm md:text-[0.7rem] font-normal opacity-70 ml-3"
            >
                <ng-icon hlm size="sm" name="lucideFacebook" />
                Facebook
            </a>
        </div>
        <div class="flex flex-col gap-0.5 items-start mt-6 md:mt-14">
            <a
                hlmBtn
                variant="link"
                routerLink="/nosotros"
                class="text-(--blanco) text-base md:text-xs font-normal"
            >
                Nosotros
            </a>
            <a
                hlmBtn
                variant="link"
                routerLink="/nosotros"
                fragment="sobre-todo-en-orden"
                class="text-(--blanco) text-sm md:text-[0.7rem] font-normal opacity-70 mt-1"
            >
                Sobre Todo En Orden
            </a>
            <a
                hlmBtn
                variant="link"
                routerLink="/nosotros"
                fragment="nuestros-valores"
                class="text-(--blanco) text-sm md:text-[0.7rem] font-normal opacity-70"
            >
                Nuestros Valores
            </a>
            <a
                hlmBtn
                variant="link"
                routerLink="/nosotros"
                fragment="nuestros-objetivos"
                class="text-(--blanco) text-sm md:text-[0.7rem] font-normal opacity-70"
            >
                Nuestros Objetivos
            </a>
            <a
                hlmBtn
                variant="link"
                routerLink="/nosotros"
                fragment="nuestro-equipo"
                class="text-(--blanco) text-sm md:text-[0.7rem] font-normal opacity-70"
            >
                Nuestro Equipo
            </a>
        </div>
        <div class="flex flex-col gap-0.5 items-start mt-6 md:mt-14">
            <a
                hlmBtn
                variant="link"
                routerLink="/servicios"
                class="text-(--blanco) text-base md:text-xs font-normal"
            >
                Servicios
            </a>
            <a
                hlmBtn
                variant="link"
                routerLink="/servicios"
                fragment="nuestros-servicios"
                class="text-(--blanco) text-sm md:text-[0.7rem] font-normal opacity-70 mt-1"
            >
                Nuestros Servicios
            </a>
            <a
                hlmBtn
                variant="link"
                routerLink="/servicios"
                fragment="principales-funciones"
                class="text-(--blanco) text-sm md:text-[0.7rem] font-normal opacity-70"
            >
                Principales Funciones
            </a>
        </div>
        <div class="flex flex-col gap-0.5 items-start mt-6 md:mt-14">
            <a
                hlmBtn
                variant="link"
                routerLink="/planes"
                class="text-(--blanco) text-base md:text-xs font-normal"
            >
                Planes
            </a>
            <a
                hlmBtn
                variant="link"
                routerLink="/planes"
                fragment="nuestros-planes"
                class="text-(--blanco) text-sm md:text-[0.7rem] font-normal opacity-70 mt-1"
            >
                Nuestros Planes
            </a>
            <a
                hlmBtn
                variant="link"
                routerLink="/planes"
                fragment="ofertas-y-promociones"
                class="text-(--blanco) text-sm md:text-[0.7rem] font-normal opacity-70"
            >
                Ofertas y Promociones
            </a>
        </div>
        <div class="flex flex-col gap-0.5 items-start mt-6 md:mt-14">
            <a
                hlmBtn
                variant="link"
                routerLink="/contacto"
                class="text-(--blanco) text-base md:text-xs font-normal"
            >
                Contacto
            </a>
            <a
                hlmBtn
                variant="link"
                routerLink="/contacto"
                fragment="formulario-de-contacto"
                class="text-(--blanco) text-sm md:text-[0.7rem] font-normal opacity-70 mt-1"
            >
                Formulario de Contacto
            </a>
        </div>
    </div>
    <div class="flex flex-col md:flex-row justify-center-safe md:items-center gap-0 md:gap-12">
        <a
            hlmBtn
            variant="link"
            href="https://ankatu.cl/"
            target="_blank"
            rel="noopener noreferrer"
            class="font-normal opacity-40 text-xs md:text-[0.65rem] text-(--blanco) h-5 md:h-7 text-left justify-start md:justify-center"
            >© 2026 Ankatu SpA
        </a>
        <a
            hlmBtn
            variant="link"
            routerLink="/privacidad"
            class="font-normal opacity-40 text-xs md:text-[0.65rem] text-(--blanco) h-5 md:h-7 text-left justify-start md:justify-center"
            >Privacidad</a
        >
        <a
            hlmBtn
            variant="link"
            routerLink="/aviso-legal"
            class="font-normal opacity-40 text-xs md:text-[0.65rem] text-(--blanco) h-5 md:h-7 justify-start md:justify-center"
            >Aviso Legal</a
        >
        <a
            hlmBtn
            variant="link"
            routerLink="/politica-de-cookies"
            class="font-normal opacity-40 text-xs md:text-[0.65rem] text-(--blanco) h-5 md:h-7 justify-start md:justify-center"
            >Política de Cookies</a
        >
    </div>
</footer>
