<header
    class="relative pr-4 md:pr-8 md:pl-4 max-w-dvw border-(--gris)"
    [class.border-b]="sesionIniciada() || logoutRunning()"
>
    <div class="w-full mx-auto flex flex-row justify-between items-center">
        <a [routerLink]="logoRedirect()">
            <img
                class="h-19 md:h-[clamp(3rem,10vw,7rem)] select-none ml-3 md:ml-0"
                [src]="urlLogo"
                alt="Logo Todo en Orden"
            />
        </a>
        <nav class="ml-[2vw] hidden md:inline-flex">
            <ul class="flex flex-row gap-4 md:gap-6 justify-center items-center">
                <li>
                    <a
                        hlmBtn
                        variant="link"
                        class="text-(--negro)/70 text-[clamp(0.7rem,1.5vw,1.1rem)] px-4"
                        >Servicios</a
                    >
                    <a
                        hlmBtn
                        variant="link"
                        class="text-(--negro)/70 text-[clamp(0.7rem,1.5vw,1.1rem)] px-4"
                        >Planes</a
                    >
                    <a
                        hlmBtn
                        variant="link"
                        class="text-(--negro)/70 text-[clamp(0.7rem,1.5vw,1.1rem)] px-4"
                        >Nosotros</a
                    >
                    <a
                        hlmBtn
                        variant="link"
                        class="text-(--negro)/70 text-[clamp(0.7rem,1.5vw,1.1rem)] px-4"
                        >Contacto</a
                    >
                </li>
            </ul>
        </nav>
        <div class="flex-1"></div>
        <div class="hidden md:inline-flex">
            @if (!sesionIniciada() && !logoutRunning()) {
                <app-login></app-login>
            }
        </div>
        <div
            class="flex items-center justify-center"
            [ngClass]="{
                'md:hidden': !sesionIniciada() && !logoutRunning(),
            }"
        >
            <button
                hlmBtn
                hlmsidebartrigger
                variant="ghost"
                class="hover:bg-transparent"
                (click)="toggleMenu()"
            >
                <ng-icon hlm name="lucideMenu" size="base" class="text-(--negro)/60 scale-100" />
            </button>
            <app-menu
                clickOutside
                (onClickOutside)="cerrarMenu()"
                class="z-50 right-0 top-0 fixed transition-transform duration-300 ease-out h-lvh min-w-3/5 md:min-w-1/3"
                [class.translate-x-full]="!menuAbierto()"
                [class.translate-x-0]="menuAbierto()"
                (onClick)="cerrarMenu()"
                [withClose]="true"
                (onClose)="cerrarMenu()"
            >
                <div class="flex flex-col items-start justify-start gap-2 mt-4">
                    @if (!sesionIniciada() && !logoutRunning()) {
                        <div class="flex flex-col items-start justify-start gap-2 md:hidden">
                            <a hlmBtn variant="link" class="text-(--negro)/70 text-base ml-2"
                                >Servicios</a
                            >
                            <a hlmBtn variant="link" class="text-(--negro)/70 text-base ml-2"
                                >Planes</a
                            >
                            <a hlmBtn variant="link" class="text-(--negro)/70 text-base ml-2"
                                >Nosotros</a
                            >
                            <a hlmBtn variant="link" class="text-(--negro)/70 text-base ml-2"
                                >Contacto</a
                            >
                            <hlm-separator class="mt-2 mb-4" />
                        </div>
                    }
                    <div class="flex items-center justify-center w-full px-8">
                        @if (!sesionIniciada() && !logoutRunning()) {
                            <app-login [vertical]="false"></app-login>
                        } @else {
                            <app-logout [primary]="true"></app-logout>
                        }
                    </div>
                </div>
            </app-menu>
        </div>
    </div>
</header>
