<header class="relative px-4 py-2">
    <div class="w-full max-w-2xl mx-auto p-4 flex flex-row justify-between items-center">
        <a routerLink="/">
            <img
                class="w-36 drop-shadow drop-shadow-black/30 select-none"
                src="/logo.svg"
                alt="Logo Tánatos"
            />
        </a>
        <nav>
            <ul class="flex flex-wrap gap-4 md:gap-6 justify-center items-center">
                @if (!sesionIniciada()) {
                <li>
                    <app-login></app-login>
                </li>
                } @else {
                <li>
                    <app-logout></app-logout>
                </li>
                }
            </ul>
        </nav>
    </div>
</header>
