<header class="relative mr-6 md:mr-8 md:ml-4 pt-2 max-w-dvw">
    <div class="w-full mx-auto flex flex-row justify-between items-center">
        <a routerLink="/">
            <img
                class="w-28 md:w-42 select-none ml-3 md:ml-0"
                [src]="urlLogo"
                alt="Logo Todo en Orden"
            />
        </a>
        <nav>
            <ul class="flex flex-wrap gap-4 md:gap-6 justify-center items-center">
                @if (!sesionIniciada() && !logoutRunning()) {
                    <li>
                        <app-login></app-login>
                    </li>
                } @else {
                    <li>
                        <app-logout></app-logout>
                    </li>
                }
            </ul>
        </nav>
    </div>
</header>
