<section class="max-w-screen md:max-w-2xl mx-auto px-4 pb-4 fade-in">
    <div>
        <div class="flex justify-center-safe items-center gap-3 py-4">
            <ng-icon hlm name="lucideStar" />
            <h3 hlmH3>Evaluaciones</h3>
        </div>
    </div>
    <form [formGroup]="form" (submit)="filtrar()" class="flex flex-row items-center justify-center gap-2">
        <hlm-date-picker class="w-full" formControlName="fechaDesde">
            <hlm-date-picker-trigger
                buttonId="fechaDesde"
                class="[&_button]:text-xs! md:[&_button]:text-sm! [&_button]:w-full! [&_button]:rounded-md! [&_button]:text-negro/90! [&_button]:bg-transparent! [&_button]:border-input! [&_button]:border! [&_button]:h-9! [&_button]:font-normal!"
                >Desde</hlm-date-picker-trigger
            >
        </hlm-date-picker>
        <hlm-date-picker class="w-full" formControlName="fechaHasta">
            <hlm-date-picker-trigger
                buttonId="fechaHasta"
                class="[&_button]:text-xs! md:[&_button]:text-sm! [&_button]:w-full! [&_button]:rounded-md! [&_button]:text-negro/90! [&_button]:bg-transparent! [&_button]:border-input! [&_button]:border! [&_button]:h-9! [&_button]:font-normal!"
                >Hasta</hlm-date-picker-trigger
            >
        </hlm-date-picker>
        <button hlmBtn size="icon" type="submit" [disabled]="cargandoEvaluaciones()">
            @if (cargandoEvaluaciones()) {
                <hlm-spinner class="text-lg" />
            } @else {
                <ng-icon name="lucideSearch" class="text-lg" />
            }
        </button>
    </form>
    <div hlmTableContainer class="mt-2">
        <table hlmTable>
            <thead hlmTHead>
                <tr hlmTr>
                    <th hlmTh class="text-xs md:text-sm text-center w-20 md:w-23">Usuario</th>
                    <th hlmTh class="text-xs md:text-sm text-center w-16 md:w-18">Puntaje</th>
                    <th hlmTh class="text-xs md:text-sm text-center">Comentario</th>
                    <th hlmTh class="text-xs md:text-sm text-center w-20 md:w-22">Fecha</th>
                </tr>
            </thead>
            <tbody hlmTBody>
                @if (cargandoEvaluaciones()) {
                    @for (_ of [1, 2, 3]; track $index) {
                        <tr hlmTr>
                            @for (_ of [1, 2, 3, 4]; track $index) {
                                <td hlmTd>
                                    <hlm-skeleton class="h-8 rounded-xl" />
                                </td>
                            }
                        </tr>
                    }
                } @else {
                    @for (evaluacion of evaluaciones(); track $index) {
                        <tr hlmTr class="fade-in">
                            <td hlmTd class="text-xs md:text-sm truncate max-w-20 md:max-w-23">{{ evaluacion.sub }}</td>
                            <td hlmTd class="text-xs md:text-sm text-center">
                                {{ evaluacion.puntaje }}
                            </td>
                            <td hlmTd class="text-xs md:text-sm whitespace-normal wrap-break-word">
                                {{ evaluacion.comentario }}
                            </td>
                            <td hlmTd class="text-xs md:text-sm text-center">
                                <p hlmP class="text-xs">{{ evaluacion.fechaCreacion | date: 'dd/MM/yyyy' }}</p>
                                <p hlmP class="text-xs">{{ evaluacion.fechaCreacion | date: 'HH:mm:ss' }}</p>
                            </td>
                        </tr>
                    } @empty {
                        <tr hlmTr class="fade-in">
                            <td hlmTd colspan="6" class="text-center py-3">No existen evaluaciones registradas...</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    @if (error()) {
        <div hlmAlert variant="destructive" class="mt-2">
            <ng-icon hlm hlmAlertIcon name="lucideTriangleAlert" />
            <h4 hlmAlertTitle>¡Ocurrió un error!</h4>
            <p hlmAlertDescription>{{ error() }}</p>
        </div>
    }
</section>
