<div class="flex flex-row items-stretch justify-start w-max">
    @if (cargando()) {
        @for (i of tres(); track $index) {
            <div hlmItem class="bg-(--blanco) text-(--negro) w-52 min-h-32 fade-in transition-all border-(--gris) -ml-px gap-3">
                <div hlmItemHeader>
                    <div hlmItemTitle>
                        <hlm-skeleton class="h-6 w-29" />
                    </div>
                    <hlm-skeleton class="h-7 w-7 rounded-full" />
                </div>
                <div hlmItemContent>
                    <hlm-skeleton class="h-7 w-29" />
                </div>
                <div hlmItemContent class="flex-none text-center">
                    <hlm-skeleton class="h-5 w-10" />
                </div>
                <div hlmItemFooter>
                    <hlm-skeleton class="h-5 w-34 mx-auto" />
                </div>
            </div>
        }
    } @else {
        @for (conversacion of conversaciones(); track conversacion.numeroTelefono; let first = $first; let last = $last) {
            <div
                hlmItem
                class="bg-(--blanco) text-(--negro) w-52 min-h-32 fade-in transition-all"
                [class.-ml-px]="!first"
                [class.border-(--gris)]="numeroAbierto() != conversacion.numeroTelefono"
                [class.cursor-pointer]="numeroAbierto() != conversacion.numeroTelefono"
                [class.border-(--azul)]="numeroAbierto() == conversacion.numeroTelefono"
                [class.z-10]="numeroAbierto() == conversacion.numeroTelefono"
                [class.ml-3]="first"
                [class.mr-3]="last"
                (click)="seleccionarConversacion(conversacion.numeroTelefono)"
            >
                <div hlmItemHeader>
                    <div hlmItemTitle>
                        {{ conversacion.numeroTelefono | formatearTelefono }}
                    </div>
                    @if (conversacion.cantidadNoLeidos != 0) {
                        <span hlmBadge class="rounded-full">{{ conversacion.cantidadNoLeidos }}</span>
                    }
                </div>
                <div hlmItemContent>
                    {{ conversacion.previewUltimoMensaje }}
                </div>
                <div hlmItemContent class="flex-none text-center">
                    @if (fueHoy(conversacion.fechaUltimoMensaje)) {
                        <p hlmItemDescription class="text-xs">
                            {{ conversacion.fechaUltimoMensaje | date: 'HH:mm' }}
                        </p>
                    } @else {
                        @if (fueAyer(conversacion.fechaUltimoMensaje)) {
                            <p hlmItemDescription class="text-xs">Ayer</p>
                        } @else {
                            <p hlmItemDescription class="text-xs">
                                {{ conversacion.fechaUltimoMensaje | date: 'dd/MM/yyyy' }}
                            </p>
                        }
                    }
                </div>
                @if (conversacion.puedeResponderGratuitoHasta && fechaFutura(conversacion.puedeResponderGratuitoHasta)) {
                    <div hlmItemFooter>
                        <span
                            hlmBadge
                            variant="azul"
                            [hlmTooltip]="'Responde gratuitamente hasta el ' + (conversacion.puedeResponderGratuitoHasta | date: formatoFechaRespuestaGratuita)"
                            position="bottom"
                            class="mx-auto flex flex-row items-center justify-end pr-3 text-xs"
                        >
                            <ng-icon hlm name="lucideTag" />
                            @if (fueHoy(conversacion.puedeResponderGratuitoHasta)) {
                                {{ conversacion.puedeResponderGratuitoHasta | date: 'HH:mm' }}
                            } @else {
                                @if (esMannana(conversacion.puedeResponderGratuitoHasta)) {
                                    Mañana a las
                                    {{ conversacion.puedeResponderGratuitoHasta | date: 'HH:mm' }}
                                } @else {
                                    {{ conversacion.puedeResponderGratuitoHasta | date: 'dd/MM/yyyy HH:mm' }}
                                }
                            }
                        </span>
                    </div>
                }
            </div>
        }
    }
</div>
@if (error()) {
    <div class="w-full px-3 pt-3">
        <div hlmAlert variant="destructive">
            <ng-icon hlm hlmAlertIcon name="lucideTriangleAlert" />
            <h4 hlmAlertTitle>¡Ocurrió un error!</h4>
            <p hlmAlertDescription>{{ error() }}</p>
        </div>
    </div>
}
