<div class="max-w-screen md:max-w-2xl mx-auto px-6 py-4 flex flex-col justify-center items-center gap-4">
    <nav hlmBreadcrumb class="mb-4 w-full">
        <ol hlmBreadcrumbList>
            <li hlmBreadcrumbItem>
                <a hlmBreadcrumbLink link="/inicio">Inicio</a>
            </li>
            <li hlmBreadcrumbSeparator></li>
            <li hlmBreadcrumbItem>
                <a hlmBreadcrumbLink link="/mis-obligaciones">Mis Obligaciones</a>
            </li>
            <li hlmBreadcrumbSeparator></li>
            <li hlmBreadcrumbItem>
                <span hlmBreadcrumbPage>
                    @if (cargandoNormaSuscrita()) {
                        <hlm-skeleton class="h-5 w-30 rounded-xl" />
                    } @else {
                        {{ form.controls['nombre'].value }}
                    }
                </span>
            </li>
        </ol>
    </nav>
    @if (cargandoNormaSuscrita()) {
        <div class="flex flex-col gap-4 justify-center-safe items-start fade-in w-full">
            <hlm-skeleton class="h-10 w-2/3 rounded-xl" />
            <hlm-separator />
            <hlm-skeleton class="h-10 w-full rounded-xl" />
            <hlm-skeleton class="h-20 w-full rounded-xl" />
            <div class="flex flex-row gap-4 w-full">
                <hlm-skeleton class="h-11 w-3/4 rounded-xl" />
                <hlm-skeleton class="h-11 w-1/4 rounded-xl" />
            </div>
            <div class="flex flex-row gap-4 w-full">
                <hlm-skeleton class="h-17 w-1/2 rounded-xl" />
                <hlm-skeleton class="h-17 w-1/2 rounded-xl" />
            </div>
            <div class="flex flex-row gap-4 w-full">
                <hlm-skeleton class="h-20 w-1/2 rounded-xl" />
                <hlm-skeleton class="h-20 w-1/2 rounded-xl" />
            </div>
            <hlm-separator />
        </div>
    } @else {
        <div class="w-full fade-in">
            <div class="flex items-center gap-4">
                <ng-icon hlm name="lucideSquarePen" />
                <hlm3 hlmH3>{{ titulo() }}</hlm3>
            </div>
        </div>
        <div class="w-full fade-in">
            <fieldset hlmFieldSet>
                <div hlmFieldGroup class="gap-3">
                    <div hlmField class="flex justify-center items-center gap-1">
                        <div hlmInputGroup class="px-1">
                            <div hlmInputGroupAddon align="block-start">
                                <label for="nombre" hlmLabel class="text-xs opacity-80 font-semibold whitespace-nowrap">Nombre</label>
                                <hlm-field-error
                                    class="transition-all duration-500 ease-out text-xs ml-auto"
                                    [class.opacity-100]="invalid('nombre')"
                                    [class.opacity-0]="!invalid('nombre')"
                                    [class.max-h-10]="invalid('nombre')"
                                    [class.max-h-0]="!invalid('nombre')"
                                    >Debes ingresar el nombre de la obligación</hlm-field-error
                                >
                            </div>
                            <input
                                hlmInputGroupInput
                                type="text"
                                class="text-sm transition-all duration-500 ease-out"
                                id="nombre"
                                [formControl]="form.controls['nombre']"
                            />
                        </div>
                    </div>
                    <div hlmField class="flex justify-center items-center gap-0">
                        <app-editor-texto [formControl]="form.controls['descripcion']" class="text-sm"></app-editor-texto>
                        <hlm-field-error
                            class="transition-all duration-500 ease-out text-xs"
                            [class.opacity-100]="invalid('descripcion')"
                            [class.opacity-0]="!invalid('descripcion')"
                            [class.max-h-10]="invalid('descripcion')"
                            [class.max-h-0]="!invalid('descripcion')"
                            >Debes ingresar la "Descripción"</hlm-field-error
                        >
                    </div>
                    <div class="flex flex-col md:flex-row justify-stretch items-start md:items-center gap-3">
                        <div hlmField class="flex justify-center items-center gap-1">
                            <div hlmInputGroup>
                                <div hlmInputGroupAddon align="block-start">
                                    <label for="multa" hlmLabel class="text-xs opacity-80 font-semibold whitespace-nowrap">Multa</label>
                                    <hlm-field-error
                                        class="transition-all duration-500 ease-out text-xs ml-auto"
                                        [class.opacity-100]="invalid('multa')"
                                        [class.opacity-0]="!invalid('multa')"
                                        [class.max-h-10]="invalid('multa')"
                                        [class.max-h-0]="!invalid('multa')"
                                        >Debes ingresar el "Multa"</hlm-field-error
                                    >
                                </div>
                                <input
                                    hlmInputGroupInput
                                    type="text"
                                    class="text-sm transition-all duration-500 ease-out"
                                    id="multa"
                                    [formControl]="form.controls['multa']"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col md:flex-row items-start gap-2 mt-2 w-full">
                        <div hlmField class="flex justify-center items-center gap-1 w-full widthMitadConGap2">
                            <div hlmInputGroup>
                                <div hlmInputGroupAddon align="block-start">
                                    <label for="categoria" hlmLabel class="text-xs opacity-80 font-semibold whitespace-nowrap">Categoría</label>
                                    <hlm-field-error
                                        class="transition-all duration-500 ease-out text-xs ml-auto"
                                        [class.opacity-100]="invalid('idCategoriaNorma')"
                                        [class.opacity-0]="!invalid('idCategoriaNorma')"
                                        [class.max-h-10]="invalid('idCategoriaNorma')"
                                        [class.max-h-0]="!invalid('idCategoriaNorma')"
                                        >Debes seleccionar una categoría</hlm-field-error
                                    >
                                </div>
                                <div class="pb-2 px-2 w-full">
                                    <hlm-select
                                        id="categoria"
                                        class="inline-block z-10 w-full"
                                        [formControl]="form.controls['idCategoriaNorma']"
                                        [itemToString]="itemToStringCategoria"
                                    >
                                        <hlm-select-trigger class="w-full">
                                            @if (cargandoCategoriasVigentes()) {
                                                <hlm-select-placeholder>
                                                    <hlm-spinner class="text-base md:text-lg" />
                                                    Cargando...
                                                </hlm-select-placeholder>
                                            } @else {
                                                <hlm-select-value class="text-sm truncate" placeholder="Sin categoría" />
                                            }
                                        </hlm-select-trigger>
                                        <hlm-select-content *hlmSelectPortal [showScroll]="true">
                                            <hlm-select-group>
                                                @if (!cargandoCategoriasVigentes()) {
                                                    <hlm-select-item class="text-sm" [value]="null">Sin categoría</hlm-select-item>
                                                    @for (categoria of categoriasVigentes(); track categoria.id) {
                                                        <hlm-select-item [value]="categoria.id" class="text-sm">{{ `${categoria.nombre}` }}</hlm-select-item>
                                                    }
                                                }
                                            </hlm-select-group>
                                        </hlm-select-content>
                                    </hlm-select>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col justify-center-safe items-center w-full widthMitadConGap2 gap-2">
                            <div hlmField class="flex justify-center items-center gap-1 w-full">
                                <div hlmInputGroup>
                                    <div hlmInputGroupAddon align="block-start">
                                        <label hlmLabel for="formFiscalizador" class="text-xs opacity-80 font-semibold whitespace-nowrap">Fiscalizadores</label>
                                    </div>
                                    <div class="pb-2 px-2 w-full">
                                        <div class="flex justify-start items-center gap-2 w-full">
                                            <hlm-select
                                                id="formFiscalizador"
                                                class="inline-block z-10 selectConBoton"
                                                [formControl]="formFiscalizador.controls['idFiscalizador']"
                                                [itemToString]="itemToStringFiscalizadores"
                                            >
                                                <hlm-select-trigger class="w-full">
                                                    @if (cargandoFiscalizadoresVigentes()) {
                                                        <hlm-select-placeholder>
                                                            <hlm-spinner class="text-base md:text-lg" />
                                                            Cargando...
                                                        </hlm-select-placeholder>
                                                    } @else {
                                                        <hlm-select-value class="text-sm truncate" placeholder="Selecciona los fiscalizadores..." />
                                                    }
                                                </hlm-select-trigger>
                                                <hlm-select-content *hlmSelectPortal [showScroll]="true">
                                                    <hlm-select-group>
                                                        @if (!cargandoFiscalizadoresVigentes()) {
                                                            @for (fiscalizador of fiscalizadoresVigentes(); track fiscalizador.id) {
                                                                <hlm-select-item [value]="fiscalizador.id" class="text-sm">{{
                                                                    `${fiscalizador.nombre}`
                                                                }}</hlm-select-item>
                                                            }
                                                        }
                                                    </hlm-select-group>
                                                </hlm-select-content>
                                            </hlm-select>

                                            <button
                                                hlmBtn
                                                size="icon"
                                                variant="default"
                                                class="size-9 bg-(--azul) hover:bg-(--azul)/80"
                                                (click)="agregarFiscalizador()"
                                                [disabled]="(formFiscalizador.controls.idFiscalizador.value ?? 0) <= 0"
                                            >
                                                <ng-icon hlm size="sm" name="lucidePlus" />
                                            </button>
                                        </div>

                                        <div class="flex flex-wrap justify-center items-center gap-1">
                                            @for (fiscalizador of form.controls['fiscalizadores'].controls; track $index) {
                                                <span hlmBadge variant="default" class="mt-2 text-xs pr-1 flex items-center bg-(--azul)"
                                                    >{{ nombreFiscalizador(fiscalizador.controls['idTipoFiscalizador'].value!) }}
                                                    <button
                                                        hlmBtn
                                                        size="icon"
                                                        variant="link"
                                                        class="size-5 p-0 m-0 text-primary-foreground scale-110 hover:scale-130 active:scale-90"
                                                        [hlmDropdownMenuTrigger]="menuFiscalizador"
                                                    >
                                                        <ng-icon hlm name="lucideX" />
                                                    </button>
                                                    <ng-template #menuFiscalizador>
                                                        <hlm-dropdown-menu class="w-34">
                                                            <hlm-dropdown-menu-label class="font-normal text-center opacity-80"
                                                                >¿Estás seguro?</hlm-dropdown-menu-label
                                                            >
                                                            <hlm-dropdown-menu-separator />
                                                            <hlm-dropdown-menu-group>
                                                                <button
                                                                    hlmDropdownMenuItem
                                                                    variant="destructive"
                                                                    class="hover:cursor-pointer"
                                                                    (click)="quitarFiscalizador(fiscalizador.controls['idTipoFiscalizador'].value!)"
                                                                >
                                                                    ¡Sí, eliminalo!
                                                                    <ng-icon hlm size="sm" name="lucideTrash2" />
                                                                </button>
                                                            </hlm-dropdown-menu-group>
                                                        </hlm-dropdown-menu>
                                                    </ng-template>
                                                </span>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-full flex flex-row items-center justify-center mt-2 h-7">
                        <div class="flex-1 flex items-center justify-center">
                            <hlm-separator />
                        </div>
                        <div hlmField class="flex justify-center items-center gap-1 w-fit mx-5 h-7">
                            <div class="flex flex-row justify-center items-center gap-4">
                                <label for="activado" hlmLabel class="text-sm font-normal text-muted-foreground">¿Activar Notificaciones?</label>
                                <div class="flex flex-row items-center justify-center gap-4">
                                    <hlm-switch
                                        class="scale-[130%]"
                                        inputId="activado"
                                        [checked]="form.controls['activado'].value!"
                                        (checkedChange)="form.controls['activado'].setValue($event)"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="flex-1 flex items-center justify-center">
                            <hlm-separator />
                        </div>
                    </div>
                    @if (form.controls['activado'].value!) {
                        <div class="flex flex-col justify-center items-start gap-2">
                            <!--<p hlmH4 class="text-base text-center w-full">¿Próximo vencimiento?</p>-->
                            <p hlmP class="text-sm pl-2">Indícanos cuando sería la próxima fecha límite para cumplir con la obligación:</p>
                            <div class="flex flex-col md:flex-row justify-center items-center gap-2 w-full">
                                <div hlmField class="flex flex-col gap-1 w-full md:w-[50%]">
                                    <div hlmInputGroup>
                                        <div hlmInputGroupAddon align="block-start">
                                            <label for="proximoVencimientoFecha" hlmLabel class="text-xs opacity-80 font-semibold whitespace-nowrap"
                                                >Fecha</label
                                            >
                                            <hlm-field-error
                                                class="transition-all duration-500 ease-out text-xs ml-auto"
                                                [class.opacity-100]="invalid('fechaProximoVencimiento')"
                                                [class.opacity-0]="!invalid('fechaProximoVencimiento')"
                                                [class.max-h-10]="invalid('fechaProximoVencimiento')"
                                                [class.max-h-0]="!invalid('fechaProximoVencimiento')"
                                                >Debes seleccionar la fecha</hlm-field-error
                                            >
                                        </div>
                                        <div class="pb-2 px-2 w-full">
                                            <hlm-date-picker
                                                [min]="minDate()"
                                                buttonId="proximoVencimientoFecha"
                                                class="text-sm w-full"
                                                [date]="form.controls['fechaProximoVencimiento'].value!"
                                                (dateChange)="form.controls['fechaProximoVencimiento'].setValue($event)"
                                            >
                                                <span class="text-sm">Seleccionar fecha...</span>
                                            </hlm-date-picker>
                                        </div>
                                    </div>
                                </div>
                                <div hlmField class="flex flex-col gap-1 w-full md:w-[50%]">
                                    <div hlmInputGroup>
                                        <div hlmInputGroupAddon align="block-start">
                                            <label for="proximoVencimientoHora" hlmLabel class="text-xs opacity-80 font-semibold whitespace-nowrap">Hora</label>
                                            <hlm-field-error
                                                class="transition-all duration-500 ease-out text-xs ml-auto"
                                                [class.opacity-100]="invalid('horaProximoVencimiento')"
                                                [class.opacity-0]="!invalid('horaProximoVencimiento')"
                                                [class.max-h-10]="invalid('horaProximoVencimiento')"
                                                [class.max-h-0]="!invalid('horaProximoVencimiento')"
                                                >Debes seleccionar la hora</hlm-field-error
                                            >
                                        </div>
                                        <div class="pb-2 px-2 w-full">
                                            <input
                                                hlmInput
                                                id="proximoVencimientoHora"
                                                type="time"
                                                step="60"
                                                [formControl]="form.controls['horaProximoVencimiento']"
                                                class="text-sm bg-background appearance-none [&::-webkit-calendar-picker-indicator]:hidden [&::-webkit-calendar-picker-indicator]:appearance-none"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col md:flex-row items-start gap-3 md:gap-2 mb-1">
                            <div hlmField class="flex justify-center items-center gap-1 w-full widthMitadConGap2">
                                <div hlmInputGroup>
                                    <div hlmInputGroupAddon align="block-start">
                                        <label for="idTipoPeriodicidad" hlmLabel class="text-xs opacity-80 font-semibold whitespace-nowrap">Periodicidad</label>
                                        <hlm-field-error
                                            class="transition-all duration-500 ease-out text-xs ml-auto"
                                            [class.opacity-100]="invalid('idTipoPeriodicidad')"
                                            [class.opacity-0]="!invalid('idTipoPeriodicidad')"
                                            [class.max-h-10]="invalid('idTipoPeriodicidad')"
                                            [class.max-h-0]="!invalid('idTipoPeriodicidad')"
                                            >Debes indicar la periodicidad</hlm-field-error
                                        >
                                    </div>
                                    <div class="pb-2 px-2 w-full">
                                        <hlm-select
                                            id="idTipoPeriodicidad"
                                            class="inline-block w-full z-10"
                                            [formControl]="form.controls['idTipoPeriodicidad']"
                                            [itemToString]="itemToStringPeriodicidad"
                                        >
                                            <hlm-select-trigger class="w-full">
                                                @if (cargandoPeriodicidadVigentes()) {
                                                    <hlm-select-placeholder>
                                                        <hlm-spinner class="text-base md:text-lg" />
                                                        Cargando...
                                                    </hlm-select-placeholder>
                                                } @else {
                                                    <hlm-select-value class="text-sm truncate" />
                                                }
                                            </hlm-select-trigger>
                                            <hlm-select-content *hlmSelectPortal [showScroll]="true">
                                                <hlm-select-group>
                                                    @if (!cargandoPeriodicidadVigentes()) {
                                                        @for (periodicidad of periodicidadesVigentes(); track periodicidad.id) {
                                                            <hlm-select-item [value]="periodicidad.id" class="text-sm">{{
                                                                `${periodicidad.nombre}`
                                                            }}</hlm-select-item>
                                                        }
                                                    }
                                                </hlm-select-group>
                                            </hlm-select-content>
                                        </hlm-select>
                                    </div>
                                </div>
                            </div>
                            <div hlmField class="flex flex-col justify-center-safe items-center w-full widthMitadConGap2 gap-2">
                                <div hlmInputGroup>
                                    <div hlmInputGroupAddon align="block-start">
                                        <label hlmLabel for="formNotifCantTiempo" class="text-xs opacity-80 font-semibold">Recordatorios Previos</label>
                                    </div>
                                    <div class="pb-2 px-2 w-full">
                                        <div class="flex justify-stretch items-center gap-2">
                                            <div class="w-26">
                                                <input
                                                    hlmInput
                                                    id="formNotifCantTiempo"
                                                    type="number"
                                                    [formControl]="formNotificacion.controls['cantTiempo']"
                                                    class="text-sm w-full"
                                                    placeholder="Cantidad"
                                                />
                                            </div>
                                            <div class="flex-1">
                                                <hlm-select
                                                    id="formNotifUnidadTiempo"
                                                    class="inline-block z-10 w-full"
                                                    [formControl]="formNotificacion.controls['idUnidadTiempo']"
                                                    [itemToString]="itemToStringUnidadTiempo"
                                                >
                                                    <hlm-select-trigger class="w-full">
                                                        @if (cargandoUnidadesTiempoVigentes()) {
                                                            <hlm-select-placeholder>
                                                                <hlm-spinner class="text-base md:text-lg" />
                                                                Cargando...
                                                            </hlm-select-placeholder>
                                                            <hlm-select-value class="text-sm truncate" />
                                                        } @else {
                                                            <hlm-select-value class="text-sm truncate" placeholder="Unidad" />
                                                        }
                                                    </hlm-select-trigger>
                                                    <hlm-select-content *hlmSelectPortal [showScroll]="true">
                                                        <hlm-select-group>
                                                            @if (!cargandoUnidadesTiempoVigentes()) {
                                                                @for (unidadTiempo of unidadesTiempoVigentes(); track unidadTiempo.id) {
                                                                    <hlm-select-item [value]="unidadTiempo.id" class="text-sm">{{
                                                                        `${unidadTiempo.nombre}`
                                                                    }}</hlm-select-item>
                                                                }
                                                            }
                                                        </hlm-select-group>
                                                    </hlm-select-content>
                                                </hlm-select>
                                            </div>

                                            <button
                                                hlmBtn
                                                size="icon"
                                                variant="default"
                                                class="size-9 bg-(--azul) hover:bg-(--azul)/80"
                                                (click)="agregarNotificacionPrevia()"
                                                [disabled]="
                                                    (formNotificacion.controls.idUnidadTiempo.value ?? 0) <= 0 ||
                                                    (formNotificacion.controls.cantTiempo.value ?? 0) <= 0
                                                "
                                            >
                                                <ng-icon hlm size="sm" name="lucidePlus" />
                                            </button>
                                        </div>

                                        <div class="flex flex-wrap justify-center items-center gap-1">
                                            @for (notificacion of form.controls['notificaciones'].controls; track $index) {
                                                <span hlmBadge variant="default" class="mt-2 text-xs pr-1 flex items-center bg-(--azul)"
                                                    >{{
                                                        nombreUnidadTiempo(
                                                            notificacion.controls['idTipoUnidadTiempoAntelacion'].value!,
                                                            notificacion.controls['cantAntelacion'].value
                                                        )
                                                    }}
                                                    <button
                                                        hlmBtn
                                                        size="icon"
                                                        variant="link"
                                                        class="size-5 p-0 m-0 text-primary-foreground scale-110 hover:scale-130 active:scale-90"
                                                        [hlmDropdownMenuTrigger]="menuNotificacion"
                                                    >
                                                        <ng-icon hlm name="lucideX" />
                                                    </button>
                                                    <ng-template #menuNotificacion>
                                                        <hlm-dropdown-menu class="w-34">
                                                            <hlm-dropdown-menu-label class="font-normal text-center opacity-80"
                                                                >¿Estás seguro?</hlm-dropdown-menu-label
                                                            >
                                                            <hlm-dropdown-menu-separator />
                                                            <hlm-dropdown-menu-group>
                                                                <button
                                                                    hlmDropdownMenuItem
                                                                    variant="destructive"
                                                                    class="hover:cursor-pointer"
                                                                    (click)="
                                                                        quitarNotificacionPrevia(
                                                                            notificacion.controls['cantAntelacion'].value!,
                                                                            notificacion.controls['idTipoUnidadTiempoAntelacion'].value!
                                                                        )
                                                                    "
                                                                >
                                                                    ¡Sí, eliminalo!
                                                                    <ng-icon hlm size="sm" name="lucideTrash2" />
                                                                </button>
                                                            </hlm-dropdown-menu-group>
                                                        </hlm-dropdown-menu>
                                                    </ng-template>
                                                </span>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hlm-separator />
                    }
                </div>
            </fieldset>
        </div>
    }
    <div class="w-full flex flex-col items-center gap-4 fade-in">
        @if (error()) {
            <div hlmAlert variant="destructive">
                <ng-icon hlm hlmAlertIcon name="lucideTriangleAlert" />
                <h4 hlmAlertTitle>¡Ocurrió un error!</h4>
                <p hlmAlertDescription>{{ error() }}</p>
            </div>
        }
        <div class="w-full flex items-center justify-end gap-6">
            <a
                hlmBtn
                variant="secondary"
                [routerLink]="['/mis-obligaciones']"
                class="border-(--azul) hover:border-(--azul)/80 text-(--azul) hover:text-(--azul)/80"
                >Cancelar</a
            >
            <button hlmBtn (click)="clickConfirmar()" [disabled]="form.invalid || procesando()" class="bg-(--azul) hover:bg-(--azul)/80">
                @if (procesando()) {
                    <hlm-spinner />
                }
                Guardar
            </button>
        </div>
    </div>
</div>
