<div
    class="fixed left-0 top-0 bg-black/70 w-screen h-screen flex justify-center items-center z-50"
    (pointerdown)="cerrar.emit()"
>
    <form [formGroup]="form" (ngSubmit)="clickConfirmar()">
        <div
            hlmCard
            (pointerdown)="$event.stopPropagation()"
            (click)="$event.stopPropagation()"
            class="min-w-xs md:min-w-md gap-3"
        >
            <div hlmCardHeader class="faster-fade-in">
                <div class="flex items-center gap-4 pt-1 pb-2">
                    <ng-icon hlm name="lucideSend" />
                    <h3 hlmCardTitle>Nuevo Destinatario:</h3>
                </div>

                <hlm-separator />
            </div>
            <div hlmCardContent class="faster-fade-in">
                <fieldset hlmFieldSet>
                    <div hlmFieldGroup class="gap-3">
                        <div hlmField class="gap-1">
                            @if (cargandoTipoReceptores()) {
                                <hlm-skeleton class="h-19 rounded-xl" />
                            } @else {
                                <hlm-radio-group
                                    formControlName="idTipoReceptor"
                                    class="grid gap-4 fade-in"
                                    [class.grid-cols-2]="tiposReceptoresVigentes().length >= 2"
                                >
                                    @for (
                                        tipoReceptor of tiposReceptoresVigentes();
                                        track tipoReceptor.id
                                    ) {
                                        @if (
                                            !restringirTipos() || !tipoReceptor.requierePlanEmpresa
                                        ) {
                                            <label
                                                hlmLabel
                                                class="text-center relative space-x-0 border-(--negro)/30 flex flex-col items-center justify-center rounded-lg border-2 px-2 py-4 bg-background hover:bg-accent/10 cursor-pointer transition-colors [&>span]:mt-4 [&:has([data-checked=true])]:border-(--azul) [&:has([data-checked=true])]:border-2 text-(--negro)/30 [&:has([data-checked=true])]:text-(--azul) [&:has([data-checked=true])_ng-icon]:text-(--azul)"
                                            >
                                                <hlm-radio [value]="tipoReceptor.id">
                                                    <ng-icon
                                                        hlm
                                                        [name]="obtenerIconName(tipoReceptor.id)"
                                                        class="mr-3 text-(--negro)/20"
                                                    />
                                                </hlm-radio>
                                                {{ tipoReceptor.nombre }}
                                            </label>
                                        } @else {
                                            <app-popup-funcionalidad-bloqueada class="w-full">
                                                <label
                                                    hlmLabel
                                                    class="has-[[disabled]]:cursor-default has-[[disabled]]:opacity-100 text-center relative space-x-0 border-(--negro)/30 flex flex-col items-center justify-center rounded-lg border-2 px-2 py-4 bg-background hover:bg-accent/10 cursor-pointer transition-colors [&>span]:mt-4 [&:has([data-checked=true])]:border-(--azul) [&:has([data-checked=true])]:border-2 text-(--negro)/30 [&:has([data-checked=true])]:text-(--azul) [&:has([data-checked=true])_ng-icon]:text-(--azul)"
                                                >
                                                    <hlm-radio
                                                        [value]="tipoReceptor.id"
                                                        disabled
                                                        class="data-[disabled=true]:cursor-default data-[disabled=true]:opacity-100"
                                                    >
                                                        <ng-icon
                                                            hlm
                                                            [name]="
                                                                obtenerIconName(tipoReceptor.id)
                                                            "
                                                            class="mr-3 text-(--negro)/20"
                                                        />
                                                    </hlm-radio>
                                                    <div class="flex flex-row items-center gap-1.5">
                                                        <ng-icon
                                                            hlm
                                                            name="lucideGem"
                                                            class="text-(--negro)/20"
                                                            size="sm"
                                                        />
                                                        {{ tipoReceptor.nombre }}
                                                    </div>
                                                </label>
                                            </app-popup-funcionalidad-bloqueada>
                                        }
                                    }
                                </hlm-radio-group>
                            }
                        </div>
                        <div hlmField class="gap-1">
                            <div hlmInputGroup>
                                <div hlmInputGroupAddon align="block-start">
                                    <label
                                        for="alias"
                                        hlmLabel
                                        class="text-xs opacity-80 font-semibold whitespace-nowrap"
                                        >Alias</label
                                    >
                                    <hlm-field-error
                                        class="transition-all duration-500 ease-out text-xs ml-auto"
                                        [class.opacity-100]="invalid('alias')"
                                        [class.opacity-0]="!invalid('alias')"
                                        [class.max-h-10]="invalid('alias')"
                                        [class.max-h-0]="!invalid('alias')"
                                        >Debes ingresar un alias</hlm-field-error
                                    >
                                </div>
                                <input
                                    hlmInputGroupInput
                                    class="transition-all duration-500 ease-out text-xs md:text-sm"
                                    id="alias"
                                    formControlName="alias"
                                />
                            </div>
                        </div>
                        <div hlmField class="gap-1">
                            <div hlmInputGroup>
                                <div hlmInputGroupAddon align="block-start">
                                    <label
                                        for="destino"
                                        hlmLabel
                                        class="text-xs opacity-80 font-semibold whitespace-nowrap"
                                    >
                                        {{
                                            form.controls['idTipoReceptor'].value === 1
                                                ? 'Correo Electrónico'
                                                : form.controls['idTipoReceptor'].value === 2
                                                  ? 'Whatsapp'
                                                  : 'Destinatario'
                                        }}
                                    </label>
                                    <hlm-field-error
                                        class="transition-all duration-500 ease-out text-xs ml-auto"
                                        [class.opacity-100]="invalid('destino')"
                                        [class.opacity-0]="!invalid('destino')"
                                        [class.max-h-10]="invalid('destino')"
                                        [class.max-h-0]="!invalid('destino')"
                                    >
                                        @if (form.controls['destino'].errors?.['required']) {
                                            Debes ingresar un
                                            {{
                                                form.controls['idTipoReceptor'].value === 1
                                                    ? 'correo electrónico'
                                                    : form.controls['idTipoReceptor'].value === 2
                                                      ? 'número de Whatsapp'
                                                      : 'destinatario'
                                            }}
                                        }
                                        @if (form.controls['destino'].errors?.['email']) {
                                            El correo electrónico ingresado no es válido.
                                        }
                                    </hlm-field-error>
                                </div>
                                <input
                                    [formatoTelefono]="form.controls['idTipoReceptor'].value === 2"
                                    [formatoCorreo]="form.controls['idTipoReceptor'].value === 1"
                                    hlmInputGroupInput
                                    class="transition-all duration-500 ease-out text-xs md:text-sm"
                                    id="destino"
                                    [placeholder]="
                                        obtenerDestinoPlaceholder(
                                            form.controls['idTipoReceptor'].value
                                        )
                                    "
                                    formControlName="destino"
                                />
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div hlmCardFooter class="flex flex-col items-center gap-4 faster-fade-in">
                @if (error()) {
                    <div hlmAlert variant="destructive">
                        <ng-icon hlm hlmAlertIcon name="lucideTriangleAlert" />
                        <h4 hlmAlertTitle>¡Ocurrió un error!</h4>
                        <p hlmAlertDescription>{{ error() }}</p>
                    </div>
                }
                <div class="w-full flex items-center justify-end gap-6">
                    <button hlmBtn type="button" variant="outlineAzul" (click)="cerrar.emit()">
                        Cancelar
                    </button>
                    <button
                        hlmBtn
                        variant="azul"
                        type="submit"
                        [disabled]="form.invalid || procesando()"
                    >
                        @if (procesando()) {
                            <hlm-spinner />
                        }
                        Guardar
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
