<div class="px-1 mb-3">
    <form [formGroup]="form" (ngSubmit)="enviarMensaje()">
        <div hlmInputGroup class="flex flex-row items-stretch">
            <textarea
                #textarea
                hlmInputGroupTextarea
                placeholder="Enviar mensajes..."
                formControlName="mensaje"
                class="resize-none overflow-hidden field-sizing-content min-h-0 py-[0.88rem]"
            ></textarea>
            <div class="flex flex-col items-center justify-end">
                <button
                    hlmBtn
                    variant="azul"
                    type="submit"
                    aria-label="Enviar"
                    title="Enviar"
                    size="icon-sm"
                    class="rounded-md m-2"
                    [disabled]="!form.controls['mensaje'].value.trim() || procesando()"
                >
                    @if (procesando()) {
                        <hlm-spinner />
                    } @else {
                        <ng-icon name="lucideSendHorizonal" />
                    }
                </button>
            </div>
        </div>
    </form>
</div>
@if (error()) {
    <div class="w-full px-1 pt-1 pb-4">
        <div hlmAlert variant="destructive">
            <ng-icon hlm hlmAlertIcon name="lucideTriangleAlert" />
            <h4 hlmAlertTitle>¡Ocurrió un error!</h4>
            <p hlmAlertDescription>{{ error() }}</p>
        </div>
    </div>
}
<div #scrollContainer class="flex flex-col w-full gap-1.5 px-2">
    @if (cargando()) {
        @for (i of random(); track $index; let index = $index) {
            <div
                class="w-full flex flex-row"
                [class.justify-start]="$index % 2 === 0"
                [class.justify-end]="$index % 2 !== 0"
            >
                <hlm-skeleton
                    class="rounded-none"
                    [class.h-10]="i === 1"
                    [class.h-12]="i === 2"
                    [class.h-14]="i === 3"
                    [class.h-16]="i === 4"
                    [class.w-48]="i === 1"
                    [class.w-56]="i === 2"
                    [class.w-64]="i === 3"
                    [class.w-72]="i === 4"
                />
            </div>
        }
    } @else {
        @for (mensaje of mensajes(); track $index) {
            <div
                class="w-full flex flex-row"
                [class.justify-start]="mensaje.direccion == 'Entrada'"
                [class.justify-end]="mensaje.direccion == 'Salida'"
            >
                <div
                    hlmItem
                    class="mensajeRecibido w-max items-stretch py-1 px-2"
                    [class.mensajeEnviado]="mensaje.direccion == 'Salida'"
                >
                    <div hlmItemContent>
                        <p
                            hlmItemDescription
                            class="text-(--blanco) py-1 px-2 flex flex-row items-center gap-2"
                        >
                            @if (tiposDescarga().includes(mensaje.tipo)) {
                                <div class="w-6 flex flex-row items-center justify-center">
                                    @if (descargandoImagen().has(mensaje.whatsappMessageId)) {
                                        <hlm-spinner class="text-xl" />
                                    } @else {
                                        <ng-icon
                                            hlm
                                            size="1.3rem"
                                            name="lucideDownload"
                                            class="text-(--blanco) cursor-pointer hover:text-(--blanco)/90"
                                            (click)="descargarImagen(mensaje.whatsappMessageId)"
                                        />
                                    }
                                </div>
                            }
                            {{
                                mensaje.cuerpo ??
                                    `${mensaje.tipo} recibid${tiposFemeninos().includes(mensaje.tipo) ? 'a' : 'o'}`
                            }}
                        </p>
                    </div>
                    <div hlmItemContent class="flex-none text-center items-center justify-end">
                        <div class="flex flex-row items-center justify-end gap-1">
                            @if (fueHoy(mensaje.fechaCreacion)) {
                                <p hlmItemDescription class="text-[0.6rem] text-(--blanco)">
                                    {{ mensaje.fechaCreacion | date: 'HH:mm' }}
                                </p>
                            } @else {
                                @if (fueAyer(mensaje.fechaCreacion)) {
                                    <p hlmItemDescription class="text-[0.6rem] text-(--blanco)">
                                        Ayer<br />{{ mensaje.fechaCreacion | date: 'HH:mm' }}
                                    </p>
                                } @else {
                                    <p hlmItemDescription class="text-[0.6rem] text-(--blanco)">
                                        {{ mensaje.fechaCreacion | date: 'dd/MM/yyyy' }}
                                        <br />{{ mensaje.fechaCreacion | date: 'HH:mm' }}
                                    </p>
                                }
                            }
                            @if (mensaje.estado === 'Leido') {
                                <ng-icon
                                    hlm
                                    size="xs"
                                    name="lucideCheckCheck"
                                    class="text-(--blanco)"
                                />
                            }
                            @if (mensaje.estado === 'Entregado') {
                                <ng-icon hlm size="xs" name="lucideCheck" class="text-(--blanco)" />
                            }
                            @if (
                                mensaje.estado === 'Enviado' ||
                                mensaje.estado === 'ConfirmacionEnvio'
                            ) {
                                <ng-icon
                                    hlm
                                    size="xs"
                                    name="lucideClock3"
                                    class="text-(--blanco)"
                                />
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>
