.mensajeRecibido {
    color: var(--blanco);
    border-color: var(--primary);
    background-color: var(--primary);
}

.mensajeEnviado {
    color: var(--blanco);
    border-color: var(--azul);
    background-color: var(--azul);
}
