.mensajeRecibido {
    color: var(--blanco);
    border-color: var(--calipso);
    background-color: var(--calipso);
}

.mensajeEnviado {
    color: var(--blanco);
    border-color: var(--azul);
    background-color: var(--azul);
}
