<section class="max-w-screen md:max-w-2xl mx-auto px-4 py-4">
    <div>
        <nav hlmBreadcrumb class="mb-4 pl-2">
            <ol hlmBreadcrumbList>
                <li hlmBreadcrumbItem>
                    <a hlmBreadcrumbLink link="/inicio">Inicio</a>
                </li>
                <li hlmBreadcrumbSeparator></li>
                <li hlmBreadcrumbItem>
                    <span hlmBreadcrumbPage>Mis Obligaciones</span>
                </li>
            </ol>
        </nav>
        <p hlmP class="font-semibold opacity-65 text-sm text-center">
            {{ negocioStore.negocioSeleccionado()?.nombre }}
        </p>
        <div class="flex justify-center-safe items-center gap-3 pt-1 pb-5 fade-in">
            <ng-icon hlm name="lucideCalendarCog" />
            <h4 hlmH4>Mis Obligaciones</h4>
        </div>
    </div>
    <div hlmTableContainer class="fade-in">
        <table hlmTable>
            <thead hlmTHead>
                <tr hlmTr>
                    <th hlmTh class="text-xs md:text-sm">Nombre</th>
                    <th hlmTh class="text-xs md:text-sm">Descripción</th>
                    <th hlmTh class="text-xs md:text-sm">Periodicidad</th>
                    <th hlmTh class="text-center w-14 md:w-24 text-xs md:text-sm px-0">¿Activa?</th>
                    <th hlmTh class="w-10 md:w-16"></th>
                </tr>
            </thead>
            <tbody hlmTBody>
                @if (cargando()) {
                    <tr hlmTr>
                        <td hlmTd>
                            <hlm-skeleton class="h-8 rounded-xl" />
                        </td>
                        <td hlmTd>
                            <hlm-skeleton class="h-8 rounded-xl" />
                        </td>
                        <td hlmTd>
                            <hlm-skeleton class="h-8 rounded-xl" />
                        </td>
                        <td hlmTd>
                            <hlm-skeleton class="h-8 rounded-xl" />
                        </td>
                        <td hlmTd></td>
                    </tr>
                } @else {
                    @for (item of obtenerNormasPropias(listado()); track item.id) {
                        <tr hlmTr class="fade-in">
                            <td hlmTd class="whitespace-normal text-xs md:text-sm">
                                {{ item.nombre ?? item.templateNorma?.nombre }}
                            </td>
                            <td hlmTd class="whitespace-normal text-xs md:text-sm">
                                {{
                                    truncarDescripcion(
                                        item.descripcion ?? item.templateNorma?.descripcion
                                    )
                                }}
                            </td>
                            <td hlmTd class="whitespace-normal text-xs md:text-sm">
                                {{
                                    item.nombreTipoPeriodicidad ??
                                        item.templateNorma?.nombreTipoPeriodicidad
                                }}
                            </td>
                            <td hlmTd class="text-center px-0">
                                @if (item.activado) {
                                    <ng-icon hlm name="lucideBadgeCheck" class="text-green-700" />
                                } @else {
                                    <ng-icon
                                        hlmTooltipTrigger
                                        hlm
                                        name="lucideBadgeX"
                                        class="text-destructive"
                                    />
                                }
                            </td>
                            <td hlmTd class="px-0">
                                <div class="flex items-center justify-center-safe">
                                    <button
                                        hlmBtn
                                        variant="outline"
                                        size="sm"
                                        [hlmDropdownMenuTrigger]="menu"
                                    >
                                        <ng-icon hlm size="xs" name="lucideEllipsis" />
                                    </button>
                                    <ng-template #menu>
                                        <hlm-dropdown-menu>
                                            <hlm-dropdown-menu-group>
                                                <button
                                                    hlmDropdownMenuItem
                                                    [routerLink]="[
                                                        '/mantenedores/norma-suscrita',
                                                        item.id,
                                                    ]"
                                                >
                                                    Editar
                                                </button>
                                                @if (item.editable) {
                                                    <button
                                                        hlmDropdownMenuItem
                                                        variant="destructive"
                                                        (click)="openModalEliminar(item)"
                                                    >
                                                        Eliminar
                                                    </button>
                                                }
                                            </hlm-dropdown-menu-group>
                                        </hlm-dropdown-menu>
                                    </ng-template>
                                </div>
                            </td>
                        </tr>
                    } @empty {
                        <tr hlmTr class="fade-in">
                            <td hlmTd colspan="5" class="text-center">
                                No tienes obligaciones registradas
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <a hlmBtn [routerLink]="['/mantenedores/norma-suscrita/nuevo']" class="m-4"
            >Nueva Obligación</a
        >
    </div>
    @if (error()) {
        <div hlmAlert variant="destructive" class="mt-6">
            <ng-icon hlm hlmAlertIcon name="lucideTriangleAlert" />
            <h4 hlmAlertTitle>¡Ocurrió un error!</h4>
            <p hlmAlertDescription>{{ error() }}</p>
        </div>
    }

    <!-- Sección de templates inscritos -->
    @if (!cargando()) {
        <div
            class="fade-in w-full flex flex-col md:flex-row items-start justify-end-safe md:justify-center"
        >
            <div
                class="w-full flex-1 flex justify-center-safe items-center order-2 md:order-1 gap-3 mt-3 md:mt-0 mb-2"
            >
                <ng-icon hlm name="lucideClipboardList" />
                <h4 hlmH4>Según Plantillas</h4>
            </div>
            <div
                class="w-full flex justify-end-safe items-center md:relative md:w-0 order-1 md:order-2"
            >
                <a
                    hlmBtn
                    variant="secondary"
                    routerLink="/mantenedores/plantillas-inscritas"
                    class="text-xs md:text-sm md:absolute md:-top-1 md:right-0"
                >
                    <ng-icon hlm size="sm" name="lucideClipboardPaste" />
                    Plantillas Inscritas
                </a>
            </div>
        </div>
        @for (template of obtenerTemplatesSuscritos(listado()); track template) {
            <hlm-separator class="fade-in" />
            <div class="fade-in">
                <div class="flex justify-center-safe items-center gap-3 py-2">
                    <h4 hlmH4 class="text-lg">Obligaciones - {{ template }}</h4>
                </div>
            </div>
            <div hlmTableContainer class="fade-in">
                <table hlmTable>
                    <thead hlmTHead>
                        <tr hlmTr>
                            <th hlmTh class="text-xs md:text-sm">Nombre</th>
                            <th hlmTh class="text-xs md:text-sm">Descripción</th>
                            <th hlmTh class="text-xs md:text-sm">Periodicidad</th>
                            <th hlmTh class="text-center w-14 md:w-24 text-xs md:text-sm px-0">
                                ¿Activa?
                            </th>
                            <th hlmTh class="w-10 md:w-16"></th>
                        </tr>
                    </thead>
                    <tbody hlmTBody>
                        @for (
                            item of obtenerNormasSegunTemplate(listado(), template);
                            track item.id
                        ) {
                            <tr hlmTr>
                                <td hlmTd class="whitespace-normal text-xs md:text-sm">
                                    {{ item.nombre ?? item.templateNorma?.nombre }}
                                </td>
                                <td hlmTd class="whitespace-normal text-xs md:text-sm">
                                    {{
                                        truncarDescripcion(
                                            item.descripcion ?? item.templateNorma?.descripcion
                                        )
                                    }}
                                </td>
                                <td hlmTd class="whitespace-normal text-xs md:text-sm">
                                    {{
                                        item.nombreTipoPeriodicidad ??
                                            item.templateNorma?.nombreTipoPeriodicidad
                                    }}
                                </td>
                                <td hlmTd class="text-center px-0">
                                    @if (item.activado) {
                                        <ng-icon
                                            hlm
                                            name="lucideBadgeCheck"
                                            class="text-green-700"
                                        />
                                    } @else {
                                        <ng-icon
                                            hlmTooltipTrigger
                                            hlm
                                            name="lucideBadgeX"
                                            class="text-destructive"
                                        />
                                    }
                                </td>
                                <td hlmTd class="px-0">
                                    <div class="flex items-center justify-center-safe">
                                        <button
                                            hlmBtn
                                            variant="outline"
                                            size="sm"
                                            [hlmDropdownMenuTrigger]="menu"
                                        >
                                            <ng-icon hlm size="xs" name="lucideEllipsis" />
                                        </button>
                                        <ng-template #menu>
                                            <hlm-dropdown-menu>
                                                <hlm-dropdown-menu-group>
                                                    <button
                                                        hlmDropdownMenuItem
                                                        [routerLink]="[
                                                            '/mantenedores/norma-suscrita',
                                                            item.id,
                                                        ]"
                                                    >
                                                        Editar
                                                    </button>
                                                    @if (item.editable) {
                                                        <button
                                                            hlmDropdownMenuItem
                                                            variant="destructive"
                                                            (click)="openModalEliminar(item)"
                                                        >
                                                            Eliminar
                                                        </button>
                                                    }
                                                </hlm-dropdown-menu-group>
                                            </hlm-dropdown-menu>
                                        </ng-template>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        } @empty {
            <div hlmAlert class="col-span-1 md:col-span-3 fade-in my-3">
                <ng-icon hlm hlmAlertIcon name="lucideClipboardList" />
                <h4 hlmAlertTitle>No estás inscrito a ninguna plantilla</h4>
                <div hlmAlertDescription>
                    Te recomendamos revisar las plantillas disponibles para ti. Estas plantillas
                    vienen configuradas con una serie de obligaciones que pueden aplicar a tu
                    negocio:
                    <div class="w-full flex justify-center">
                        <a
                            hlmBtn
                            variant="link"
                            routerLink="/mantenedores/plantillas-inscritas"
                            class="text-xs md:text-sm"
                        >
                            Click aquí para revisar las plantillas
                        </a>
                    </div>
                </div>
            </div>
        }
    }
</section>

@if (showModalEliminar()) {
    <app-modal-eliminacion
        [item]="itemSeleccionado()"
        titulo="Quitar una obligación:"
        [descripcion]="`¿Seguro que deseas quitar la obligación ${itemSeleccionado()?.nombre}?`"
        descripcionTextVerificacion="Para confirmar, escribe a continuación el nombre de la obligación:"
        [textoVerificacion]="itemSeleccionado()?.nombre!"
        (cerrar)="closeModalEliminar()"
        (eliminar)="eliminar($event)"
    >
    </app-modal-eliminacion>
}
