<section class="max-w-screen md:max-w-2xl mx-auto px-4 py-4">
    <nav hlmBreadcrumb class="mb-4 pl-2">
        <ol hlmBreadcrumbList>
            <li hlmBreadcrumbItem>
                <a hlmBreadcrumbLink link="/inicio">Inicio</a>
            </li>
            <li hlmBreadcrumbSeparator></li>
            <li hlmBreadcrumbItem>
                <a hlmBreadcrumbLink link="/mi-calendario">Mi Calendario</a>
            </li>
            <li hlmBreadcrumbSeparator></li>
            <li hlmBreadcrumbItem>
                <span hlmBreadcrumbPage>
                    @if (cargandoNormaSuscritaConVencimiento()) {
                        <hlm-skeleton class="h-5 w-30 rounded-xl" />
                    } @else {
                        {{ item()?.nombre ?? item()?.templateNorma?.nombre }}
                    }
                </span>
            </li>
        </ol>
    </nav>

    @if (cargandoNormaSuscritaConVencimiento()) {
        <div class="flex flex-col gap-4 justify-center-safe items-start fade-in w-full">
            <div class="flex flex-col items-center justify-center w-full pt-3 gap-2">
                <hlm-skeleton class="h-7 w-42 rounded-xl" />
                <hlm-skeleton class="h-9 w-52 rounded-xl" />
                <hlm-skeleton class="h-7 w-64 rounded-xl" />
                <div class="flex flex-row gap-2">
                    <hlm-skeleton class="h-7 w-24 rounded-xl" />
                    <hlm-skeleton class="h-7 w-24 rounded-xl" />
                </div>
            </div>
            <div class="flex flex-row gap-4 w-full">
                <hlm-skeleton class="h-19 w-40 rounded-xl" />
                <hlm-skeleton class="h-19 w-full rounded-xl" />
            </div>
            <hlm-skeleton class="h-30 w-full rounded-xl" />
            <hlm-skeleton class="h-30 w-full rounded-xl" />
            <div class="flex flex-row gap-4 w-full">
                <hlm-skeleton class="h-19 w-40 rounded-xl" />
                <hlm-skeleton class="h-19 w-full rounded-xl" />
            </div>
        </div>
    } @else {
        <div class="fade-in">
            <h4 hlmH4 class="text-center">
                {{ item()?.nombreNegocio }}
            </h4>
            <div class="flex justify-center-safe items-center gap-3 pt-1 pb-2">
                <ng-icon hlm name="lucideCalendarCheck" />
                <h3 hlmH3>{{ item()?.nombre ?? item()?.templateNorma?.nombre }}</h3>
            </div>
            <div class="flex flex-col items-center justify-center pb-5">
                @if (item()?.nombreCategoriaNorma || item()?.templateNorma?.nombreCategoriaNorma) {
                    <p HlmP>
                        {{
                            item()?.nombreCategoriaNorma ??
                                item()?.templateNorma?.nombreCategoriaNorma
                        }}
                    </p>
                }
                @if (fiscalizadores().length > 0) {
                    <div class="flex flex-row items-center justify-center gap-3 pt-2">
                        <div class="flex flex-wrap justify-center items-center gap-1 pt-1">
                            @for (fiscalizador of fiscalizadores(); track fiscalizador.id) {
                                <span hlmBadge>
                                    {{ fiscalizador.nombreTipoFiscalizador }}
                                </span>
                            }
                        </div>
                    </div>
                }
            </div>
            <div class="flex flex-col gap-6">
                <div class="flex flex-row items-stretch gap-4 w-full">
                    <div hlmItem variant="outline" size="sm" class="md:px-8">
                        <div hlmItemContent>
                            <div hlmItemTitle>Periodicidad</div>
                            <div hlmItemDescription>
                                {{
                                    item()?.nombreTipoPeriodicidad ??
                                        item()?.templateNorma?.nombreTipoPeriodicidad
                                }}
                            </div>
                        </div>
                    </div>
                    <div hlmItem variant="outline" size="sm" class="w-full">
                        <div hlmItemContent>
                            <div hlmItemTitle>Multa</div>
                            <div hlmItemDescription>
                                {{
                                    item()?.multa ??
                                        item()?.templateNorma?.multa ??
                                        'Sin multa registrada'
                                }}
                            </div>
                        </div>
                    </div>
                </div>
                <p HlmP class="text-justify mx-4 whitespace-pre-line">
                    {{ item()?.descripcion ?? item()?.templateNorma?.descripcion }}
                </p>
                @if (
                    !item()?.fechaCompletitud ||
                    (documentosAdjuntos() && documentosAdjuntos().length > 0)
                ) {
                    <div hlmItem variant="outline" size="sm" class="w-full">
                        <div hlmItemContent>
                            <div hlmItemTitle>Documentos Adjuntos</div>
                            <div hlmItemDescription>
                                @if (!item()?.fechaCompletitud) {
                                    <div class="mb-2">
                                        No olvides adjuntar los documentos asociados al cumplimiento
                                        de la obligación.
                                        <ul class="list-disc ml-6">
                                            <li>
                                                Archivos <span class="italic">PDF</span> o imagenes
                                                <span class="italic">JPEG/PNG/WEBP</span>.
                                            </li>
                                            <li>
                                                Archivos con un tamaño máximo de
                                                <span class="italic">10 MB</span>.
                                            </li>
                                        </ul>
                                    </div>
                                }
                                <div hlmTableContainer>
                                    <table hlmTable>
                                        @if (
                                            (documentosAdjuntos() &&
                                                documentosAdjuntos().length > 0) ||
                                            (documentosEnProgreso() &&
                                                documentosEnProgreso().length > 0)
                                        ) {
                                            <thead hlmTHead>
                                                <tr hlmTr>
                                                    <th hlmTh>Nombre</th>
                                                    <th hlmTh class="text-center">Fecha Subida</th>
                                                    <th hlmTh></th>
                                                </tr>
                                            </thead>
                                        }
                                        <tbody hlmTBody>
                                            @for (
                                                documento of documentosAdjuntos();
                                                track documento.id
                                            ) {
                                                <tr hlmTr class="fade-in">
                                                    <td
                                                        hlmTd
                                                        class="whitespace-normal wrap-break-word break-all"
                                                    >
                                                        {{ documento.nombreArchivo }}
                                                    </td>
                                                    <td hlmTd class="text-center">
                                                        <div class="flex flex-col gap-1">
                                                            <div class="text-xs">
                                                                {{
                                                                    documento.fechaSubida
                                                                        | date: 'd MMM yyyy'
                                                                }}
                                                            </div>
                                                            <div class="text-xs">
                                                                {{
                                                                    documento.fechaSubida
                                                                        | date: 'HH:mm:ss'
                                                                }}
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td hlmTd>
                                                        <div
                                                            class="flex flex-row items-center justify-end gap-2"
                                                        >
                                                            <button
                                                                hlmBtn
                                                                size="icon"
                                                                variant="secondary"
                                                                class="size-8"
                                                                (click)="
                                                                    descargaArchivo(documento.id)
                                                                "
                                                                [disabled]="documento.descargando"
                                                            >
                                                                @if (documento.descargando) {
                                                                    <hlm-spinner />
                                                                } @else {
                                                                    <ng-icon
                                                                        hlm
                                                                        size="sm"
                                                                        name="lucideDownload"
                                                                    />
                                                                }
                                                            </button>
                                                            @if (!item()?.fechaCompletitud) {
                                                                <button
                                                                    hlmBtn
                                                                    size="icon"
                                                                    variant="destructive"
                                                                    class="size-8"
                                                                    (click)="
                                                                        openModalEliminar(documento)
                                                                    "
                                                                    [disabled]="documento.borrando"
                                                                >
                                                                    @if (documento.borrando) {
                                                                        <hlm-spinner />
                                                                    } @else {
                                                                        <ng-icon
                                                                            hlm
                                                                            size="sm"
                                                                            name="lucideTrash"
                                                                        />
                                                                    }
                                                                </button>
                                                            }
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                            @for (
                                                documentoEnProgreso of documentosEnProgreso();
                                                track documentoEnProgreso.idTemporal
                                            ) {
                                                <tr hlmTr class="fade-in">
                                                    <td
                                                        hlmTd
                                                        class="whitespace-normal wrap-break-word break-all"
                                                        colspan="3"
                                                    >
                                                        {{ documentoEnProgreso.nombre }}
                                                        <hlm-progress
                                                            [value]="documentoEnProgreso.progreso"
                                                        >
                                                            <hlm-progress-indicator />
                                                        </hlm-progress>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                        @if (!item()?.fechaCompletitud) {
                                            <tfoot hlmTFoot>
                                                <tr hlmTr>
                                                    <td
                                                        hlmTd
                                                        colspan="3"
                                                        class="text-center p-0 border-dashed border-(--negro) border-2 transition-colors duration-200"
                                                        [ngClass]="{
                                                            'bg-(--negro)/10': draggingFile(),
                                                        }"
                                                    >
                                                        <div
                                                            (dragover)="onDragOver($event)"
                                                            (dragleave)="onDragLeave($event)"
                                                            (drop)="onDropFile($event)"
                                                            class="py-6"
                                                        >
                                                            <button
                                                                hlmBtn
                                                                size="icon"
                                                                variant="link"
                                                                class="size-8 text-(--negro)"
                                                                (click)="fileInput.click()"
                                                            >
                                                                <ng-icon
                                                                    hlm
                                                                    size="sm"
                                                                    name="lucidePlus"
                                                                />
                                                                <div>
                                                                    Click aquí para adjuntar tu
                                                                    documento
                                                                </div>
                                                                <br />
                                                            </button>
                                                            <p
                                                                hlmP
                                                                class="text-xs mt-2 font-normal italic opacity-80"
                                                            >
                                                                (también puedes arrastrar aquí tus
                                                                documentos)
                                                            </p>
                                                            <input
                                                                type="file"
                                                                #fileInput
                                                                hidden
                                                                [accept]="
                                                                    allowedFileTypes.join(',')
                                                                "
                                                                (change)="
                                                                    archivosSeleccionados($event)
                                                                "
                                                                multiple
                                                            />
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        }
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (error()) {
                    <div hlmAlert variant="destructive">
                        <ng-icon hlm hlmAlertIcon name="lucideTriangleAlert" />
                        <h4 hlmAlertTitle>¡Ocurrió un error!</h4>
                        <p hlmAlertDescription class="whitespace-pre-line">{{ error() }}</p>
                    </div>
                }
                <div class="flex flex-row items-stretch gap-4 w-full">
                    <div hlmItem variant="outline" size="sm" class="md:px-8">
                        <div hlmItemContent>
                            <div hlmItemTitle>Vencimiento</div>
                            <div hlmItemDescription class="text-center">
                                {{ item()?.fechaVencimiento | date: 'd MMM yyyy' }}<br />
                                {{ item()?.fechaVencimiento | date: 'HH:mm' }}
                            </div>
                        </div>
                    </div>
                    @if (item()?.fechaCompletitud) {
                        <div
                            hlmItem
                            variant="outline"
                            size="sm"
                            class="w-full bg-(--azul) border-(--azul) rounded-full justify-center"
                        >
                            <div hlmItemMedia>
                                <ng-icon
                                    hlm
                                    name="lucideBadgeCheck"
                                    size="30px"
                                    class="text-(--blanco)"
                                />
                            </div>
                            <div hlmItemContent class="flex-none max-w-full">
                                <div
                                    hlmItemTitle
                                    class="text-base md:text-lg text-(--blanco) text-center"
                                >
                                    ¡Completada el
                                    {{ item()?.fechaCompletitud | date: "d 'de' MMMM 'de' yyyy" }}!
                                </div>
                            </div>
                        </div>
                    } @else {
                        <div hlmItem variant="outline" size="sm" class="w-full border-0">
                            <div hlmItemContent>
                                <div hlmItemDescription>
                                    <div
                                        class="flex flex-col md:flex-row items-center gap-2 md:gap-3 w-full"
                                    >
                                        <button
                                            hlmBtn
                                            class="w-full py-7 gap-4 text-lg"
                                            (click)="openModalConfirmar()"
                                            [disabled]="
                                                completando() ||
                                                (documentosEnProgreso() &&
                                                    documentosEnProgreso().length > 0)
                                            "
                                        >
                                            @if (completando()) {
                                                <hlm-spinner />
                                            } @else {
                                                <ng-icon hlm size="26px" name="lucideBadgeCheck" />
                                            }
                                            <div>¡Completar!</div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</section>

@if (showModalEliminar()) {
    <app-modal-eliminacion
        [item]="itemSeleccionado()"
        titulo="Borrar documento adjunto:"
        [descripcion]="
            `¿Seguro que deseas borrar el siguiente documento? <br/><b>${itemSeleccionado()?.nombreArchivo}</b><div class='text-sm mt-2 text-destructive'><b>¡Una vez eliminado no es posible recuperarlo!</b></div>`
        "
        (cerrar)="closeModalEliminar()"
        (eliminar)="eliminar($event)"
    >
    </app-modal-eliminacion>
} @else {
    @if (showModalConfirmar()) {
        <app-modal-edicion
            [campos]="[]"
            [item]="null"
            titulo="Completar Obligación:"
            [descripcion]="textoModalConfirmar()"
            textoBotonGuardar="Completar"
            (cerrar)="closeModalConfirmar()"
            (editar)="completar()"
        >
        </app-modal-edicion>
    }
}
