<section class="max-w-screen md:max-w-2xl mx-auto px-4 py-4">
    <div>
        <nav hlmBreadcrumb class="mb-4 pl-2">
            <ol hlmBreadcrumbList>
                <li hlmBreadcrumbItem>
                    <a hlmBreadcrumbLink link="/inicio">Inicio</a>
                </li>
                <li hlmBreadcrumbSeparator></li>
                <li hlmBreadcrumbItem>
                    <span hlmBreadcrumbPage>Plantillas Inscritas</span>
                </li>
            </ol>
        </nav>
        <p hlmP class="font-semibold opacity-65 text-sm text-center">
            {{ negocioStore.negocioSeleccionado()?.nombre }}
        </p>
        <div class="flex justify-center-safe items-center gap-3 pt-1 pb-5 fade-in">
            <ng-icon hlm name="lucideClipboardPaste" />
            <h4 hlmH4>Plantillas Inscritas</h4>
        </div>
    </div>
    <div hlmTableContainer class="fade-in">
        <table hlmTable>
            <thead hlmTHead>
                <tr hlmTr>
                    <th hlmTh class="text-xs md:text-sm">Nombre</th>
                    <th hlmTh class="text-xs md:text-sm text-center">Obligaciones</th>
                    <th hlmTh class="text-center w-14 md:w-24 text-xs md:text-sm px-0">
                        ¿Inscrita?
                    </th>
                    <th hlmTh class="w-10 md:w-16"></th>
                </tr>
            </thead>
            <tbody hlmTBody>
                @if (cargando()) {
                    <tr hlmTr>
                        <td hlmTd>
                            <hlm-skeleton class="h-10 rounded-xl" />
                        </td>
                        <td hlmTd>
                            <hlm-skeleton class="h-10 rounded-xl" />
                        </td>
                        <td hlmTd>
                            <hlm-skeleton class="h-10 rounded-xl" />
                        </td>
                        <td hlmTd></td>
                    </tr>
                    <tr hlmTr>
                        <td hlmTd>
                            <hlm-skeleton class="h-10 rounded-xl" />
                        </td>
                        <td hlmTd>
                            <hlm-skeleton class="h-10 rounded-xl" />
                        </td>
                        <td hlmTd>
                            <hlm-skeleton class="h-10 rounded-xl" />
                        </td>
                        <td hlmTd></td>
                    </tr>
                } @else {
                    @for (item of listado(); track item.idTemplate) {
                        <tr hlmTr class="fade-in">
                            <td hlmTd class="whitespace-normal text-xs md:text-sm">
                                <div class="flex justify-start items-center gap-2">
                                    @if (item.recomendado) {
                                        <div class="w-4 flex items-center">
                                            <hlm-tooltip>
                                                <ng-icon
                                                    hlm
                                                    size="sm"
                                                    name="lucideStar"
                                                    hlmTooltipTrigger
                                                    position="right"
                                                    class="text-yellow-600"
                                                />
                                                <span *brnTooltipContent>
                                                    ¡Plantilla perfecta para tu negocio!
                                                </span>
                                            </hlm-tooltip>
                                        </div>
                                    }
                                    {{ item.nombreTemplate }}
                                </div>
                            </td>
                            <td hlmTd class="whitespace-normal text-xs md:text-sm">
                                <div class="flex flex-wrap justify-center items-center gap-2">
                                    @for (
                                        norma of item.templateNormas.slice(0, 3);
                                        track norma.idNorma
                                    ) {
                                        @if (norma.nombreNorma.length > 20) {
                                            <hlm-tooltip>
                                                <span
                                                    hlmBadge
                                                    variant="secondary"
                                                    hlmTooltipTrigger
                                                    position="below"
                                                    class="text-[0.65rem] md:text-xs"
                                                    >{{
                                                        norma.nombreNorma.substring(0, 17).trim() +
                                                            '...'
                                                    }}</span
                                                >
                                                <span *brnTooltipContent>
                                                    {{ norma.nombreNorma }}
                                                </span>
                                            </hlm-tooltip>
                                        } @else {
                                            <span
                                                hlmBadge
                                                variant="secondary"
                                                class="text-[0.65rem] md:text-xs"
                                                >{{ norma.nombreNorma }}</span
                                            >
                                        }
                                    }
                                    @if (item.templateNormas.length > 3) {
                                        <hlm-tooltip>
                                            <span
                                                hlmBadge
                                                variant="secondary"
                                                hlmTooltipTrigger
                                                position="below"
                                                class="text-[0.65rem] md:text-xs"
                                                >...</span
                                            >
                                            <span *brnTooltipContent>
                                                @for (
                                                    norma of item.templateNormas.slice(3);
                                                    track norma.idNorma
                                                ) {
                                                    {{ '· ' + norma.nombreNorma }} <br />
                                                }
                                            </span>
                                        </hlm-tooltip>
                                    }
                                </div>
                            </td>
                            <td hlmTd class="text-center px-0">
                                @if (item.inscrito) {
                                    <ng-icon hlm name="lucideBadgeCheck" class="text-green-700" />
                                } @else {
                                    <ng-icon
                                        hlmTooltipTrigger
                                        hlm
                                        name="lucideBadgeX"
                                        class="text-destructive"
                                    />
                                }
                            </td>
                            <td hlmTd class="px-0">
                                <div class="flex items-center justify-center-safe">
                                    <button
                                        hlmBtn
                                        variant="outline"
                                        size="sm"
                                        [hlmDropdownMenuTrigger]="menu"
                                    >
                                        <ng-icon hlm size="xs" name="lucideEllipsis" />
                                    </button>
                                    <ng-template #menu>
                                        <hlm-dropdown-menu>
                                            <hlm-dropdown-menu-group>
                                                @if (!item.inscrito) {
                                                    <button
                                                        hlmDropdownMenuItem
                                                        (click)="openModalInscribirse(item)"
                                                    >
                                                        Inscribirse
                                                    </button>
                                                } @else {
                                                    <button
                                                        hlmDropdownMenuItem
                                                        variant="destructive"
                                                        (click)="openModalDesinscribirse(item)"
                                                    >
                                                        Cancelar inscripción
                                                    </button>
                                                }
                                            </hlm-dropdown-menu-group>
                                        </hlm-dropdown-menu>
                                    </ng-template>
                                </div>
                            </td>
                        </tr>
                    } @empty {
                        <tr hlmTr class="fade-in">
                            <td hlmTd colspan="4" class="text-center">
                                No tenemos plantillas disponibles para tu inscripción
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    @if (error()) {
        <div hlmAlert variant="destructive" class="mt-6">
            <ng-icon hlm hlmAlertIcon name="lucideTriangleAlert" />
            <h4 hlmAlertTitle>¡Ocurrió un error!</h4>
            <p hlmAlertDescription>{{ error() }}</p>
        </div>
    }
</section>

@if (showModalDesinscribirse()) {
    <app-modal-eliminacion
        [item]="itemSeleccionado()"
        titulo="Cancelar la inscripción:"
        [descripcion]="
            `¿Seguro que deseas cancelar la inscripción a la plantilla <b>${itemSeleccionado()?.nombreTemplate}</b>?`
        "
        textoBotonEliminar="Cancelar inscripción"
        textoBotonCancelar="Cerrar"
        (cerrar)="closeModalDesinscribirse()"
        (eliminar)="desinscribirse($event)"
    >
    </app-modal-eliminacion>
}
@if (showModalInscribirse()) {
    @if (conPadresNoInscritos()) {
        <app-modal-edicion
            [campos]="camposEdicion()"
            [item]="itemSeleccionado()"
            titulo="Inscribirte a una plantilla:"
            [descripcion]="
                `<p class='text-left'>¿Seguro que deseas inscribirte a la plantilla <b>${itemSeleccionado()?.nombreTemplate}</b>?</p><div class='mx-2'>${listadoHTMLNormas(itemSeleccionado())}</div>`
            "
            [descripcionSecundaria]="
                `<div class='mx-2'>${informacionHTMLPadres(itemSeleccionado())}</div>`
            "
            [conFuncionSecundaria]="true"
            textoBotonGuardar="Sí, solo a la indicada"
            textoBotonSecundario="Inscribirse a todas"
            (cerrar)="closeModalInscribirse()"
            (editar)="inscribirse($event, false)"
            (funcionSecundaria)="inscribirse($event, true)"
        >
        </app-modal-edicion>
    } @else {
        <app-modal-edicion
            [campos]="camposEdicion()"
            [item]="itemSeleccionado()"
            titulo="Inscribirte a una plantilla:"
            [descripcion]="
                `<p class='text-left'>¿Seguro que deseas inscribirte a la plantilla <b>${itemSeleccionado()?.nombreTemplate}</b>?</p><div class='mx-2'>${listadoHTMLNormas(itemSeleccionado())}</div>`
            "
            textoBotonGuardar="Inscribirse"
            (cerrar)="closeModalInscribirse()"
            (editar)="inscribirse($event, false)"
        >
        </app-modal-edicion>
    }
}
