@if(sesionIniciada()){
<div hlmSidebarWrapper>
    <hlm-sidebar class="shadow-md">
        <div hlmSidebarHeader>
            <ul hlmSidebarMenu>
                <li hlmSidebarMenuItem>
                    <a hlmSidebarMenuButton routerLink="/" (click)="ocultarSidebar()">
                        <span>Todo en Orden</span>
                    </a>
                </li>
            </ul>
        </div>
        <div hlmSidebarContent class="overflow-x-hidden">
            @for (item of opcionesMenu(); track item.id) { @if (item.tipo === 'item' && item.url) {
            <ul hlmSidebarMenu>
                <li hlmSidebarMenuItem>
                    <a hlmSidebarMenuButton [routerLink]="item.url" (click)="ocultarSidebar()">
                        @if (item.icon) {
                        <ng-icon hlm [name]="item.icon" />
                        }
                        <span>{{ item.titulo }}</span>
                    </a>
                </li>
            </ul>
            } @if (item.tipo === 'item' && item.items && item.items.length > 0) {
            <hlm-collapsible class="group/collapsible">
                <li hlmSidebarMenuItem>
                    <button
                        hlmCollapsibleTrigger
                        hlmSidebarMenuButton
                        class="flex w-full items-center"
                    >
                        @if (item.icon) {
                        <ng-icon hlm [name]="item.icon" />
                        }
                        <span>{{ item.titulo }}</span>
                        <ng-icon
                            name="lucideChevronRight"
                            class="ml-auto transition-transform group-data-[state=open]/collapsible:rotate-90"
                            hlm
                        />
                    </button>
                    <hlm-collapsible-content>
                        <ul hlmSidebarMenuSub>
                            @for (subItem of item.items; track subItem.id) {
                            <li hlmSidebarMenuSubItem>
                                <a
                                    hlmSidebarMenuSubButton
                                    [routerLink]="subItem.url"
                                    class="w-full"
                                    (click)="ocultarSidebar()"
                                >
                                    @if (subItem.icon) {
                                    <ng-icon hlm [name]="subItem.icon" />
                                    }
                                    <span>{{ subItem.titulo }}</span>
                                </a>
                            </li>
                            }
                        </ul>
                    </hlm-collapsible-content>
                </li>
            </hlm-collapsible>
            } @if (item.tipo === 'group') {
            <div hlmSidebarSeparator></div>
            <div hlmSidebarGroup>
                <div hlmSidebarGroupLabel>
                    @if (item.icon) {
                    <ng-icon hlm [name]="item.icon" />
                    }
                    <span>{{ item.titulo }}</span>
                </div>
                <div hlmSidebarGroupContent>
                    <ul hlmSidebarMenu>
                        @for (groupItem of item.items; track groupItem.id) { @if (groupItem.tipo ===
                        'item' && groupItem.url) {
                        <li hlmSidebarMenuItem>
                            <a
                                hlmSidebarMenuButton
                                [routerLink]="groupItem.url"
                                (click)="ocultarSidebar()"
                            >
                                @if (groupItem.icon) {
                                <ng-icon hlm [name]="groupItem.icon" />
                                }
                                <span>{{ groupItem.titulo }}</span>
                            </a>
                        </li>
                        } @if (groupItem.tipo === 'item' && groupItem.items &&
                        groupItem.items.length > 0) {
                        <hlm-collapsible class="group/collapsible">
                            <li hlmSidebarMenuItem>
                                <button
                                    hlmCollapsibleTrigger
                                    hlmSidebarMenuButton
                                    class="flex w-full items-center"
                                >
                                    @if (groupItem.icon) {
                                    <ng-icon hlm [name]="groupItem.icon" />
                                    }
                                    <span>{{ groupItem.titulo }}</span>
                                    <ng-icon
                                        name="lucideChevronRight"
                                        class="ml-auto transition-transform group-data-[state=open]/collapsible:rotate-90"
                                        hlm
                                    />
                                </button>
                                <hlm-collapsible-content>
                                    <ul hlmSidebarMenuSub>
                                        @for (subItem of groupItem.items; track subItem.id) {
                                        <li hlmSidebarMenuSubItem>
                                            <a
                                                hlmSidebarMenuSubButton
                                                [routerLink]="subItem.url"
                                                class="w-full"
                                                (click)="ocultarSidebar()"
                                            >
                                                @if (subItem.icon) {
                                                <ng-icon hlm [name]="subItem.icon" />
                                                }
                                                <span>{{ subItem.titulo }}</span>
                                            </a>
                                        </li>
                                        }
                                    </ul>
                                </hlm-collapsible-content>
                            </li>
                        </hlm-collapsible>
                        } }
                    </ul>
                </div>
            </div>
            } }
        </div>
    </hlm-sidebar>
    <main hlmSidebarInset class="bg-transparent">
        <header class="flex items-center justify-between px-4 pt-4">
            <button hlmSidebarTrigger class="bg-sidebar scale-125 shadow-md hover:cursor-pointer">
                <span class="sr-only"></span>
            </button>
        </header>
    </main>
</div>
}
