<div class="fixed left-0 top-0 right-0 bottom-0 bg-black/70 flex justify-center items-center z-50" (pointerdown)="cerrar.emit()">
    <form [formGroup]="form" (ngSubmit)="clickConfirmar()">
        <div hlmCard (pointerdown)="$event.stopPropagation()" (click)="$event.stopPropagation()" class="min-w-xs md:min-w-md gap-3">
            <div hlmCardHeader class="faster-fade-in">
                <div class="flex items-center gap-2 pt-1 pb-2">
                    <ng-icon hlm name="lucideContactRound" />
                    <h3 hlmH3 hlmCardTitle>Nuevo Integrante:</h3>
                </div>

                <hlm-separator />
            </div>
            <div hlmCardContent class="faster-fade-in">
                <fieldset hlmFieldSet>
                    <div hlmFieldGroup class="gap-3">
                        <div hlmField class="gap-1">
                            @if (cargandoEmpleados()) {
                                <hlm-skeleton class="h-17.25 w-full rounded-md" />
                            } @else {
                                <div hlmInputGroup class="fade-in">
                                    <div hlmInputGroupAddon align="block-start">
                                        <label for="nombre" hlmLabel class="text-xs opacity-80 font-semibold whitespace-nowrap">Nombre</label>
                                        <hlm-field-error
                                            class="transition-all duration-500 ease-out text-xs ml-auto text-balance text-right"
                                            [class.opacity-100]="invalid('nombre')"
                                            [class.opacity-0]="!invalid('nombre')"
                                            [class.max-h-10]="invalid('nombre')"
                                            [class.max-h-0]="!invalid('nombre')"
                                            >Debes ingresar el nombre del empleado</hlm-field-error
                                        >
                                    </div>
                                    <input hlmInputGroupInput class="transition-all duration-500 ease-out text-sm" id="nombre" formControlName="nombre" />
                                </div>
                            }
                        </div>
                        <div hlmField class="gap-1">
                            @if (cargandoCargos()) {
                                <hlm-skeleton class="h-20 w-full rounded-md" />
                            } @else {
                                <div
                                    hlmInputGroup
                                    class="has-[[data-slot=input-group-control]:focus-visible]:ring-0 has-[[data-slot=input-group-control]:focus-visible]:border-input fade-in"
                                >
                                    <div hlmInputGroupAddon align="block-start">
                                        <label for="cargo" hlmLabel class="text-xs opacity-80 font-semibold whitespace-nowrap text-muted-foreground"
                                            >Cargo</label
                                        >
                                        <hlm-field-error
                                            class="transition-all duration-500 ease-out text-xs ml-auto text-balance text-right"
                                            [class.opacity-100]="invalid('cargo')"
                                            [class.opacity-0]="!invalid('cargo')"
                                            [class.max-h-10]="invalid('cargo')"
                                            [class.max-h-0]="!invalid('cargo')"
                                            >Debes ingresar un cargo para el empleado</hlm-field-error
                                        >
                                    </div>
                                    <div class="pb-2 px-2 w-full">
                                        <hlm-autocomplete-search formControlName="cargo" [(search)]="search" class="w-full" autoHighlight>
                                            <hlm-autocomplete-input inputId="cargo" />
                                            <hlm-autocomplete-content *hlmAutocompletePortal>
                                                <hlm-autocomplete-empty>Se creará el cargo {{ search() }}</hlm-autocomplete-empty>
                                                <div hlmAutocompleteList>
                                                    @for (cargo of filteredOptions(); track $index) {
                                                        <hlm-autocomplete-item [value]="cargo.nombre">
                                                            {{ cargo.nombre }}
                                                        </hlm-autocomplete-item>
                                                    }
                                                </div>
                                            </hlm-autocomplete-content>
                                        </hlm-autocomplete-search>
                                    </div>
                                </div>
                            }
                        </div>
                        <div hlmField class="gap-1">
                            @if (cargandoTipoReceptores() || cargandoEmpleados()) {
                                <hlm-skeleton class="h-18.25 w-full rounded-md" />
                            } @else {
                                <div class="flex flex-row items-center justify-center pb-1.5 relative fade-in">
                                    <div class="flex-1 flex flex-row items-center justify-center gap-2">
                                        @if (!tienePlanEmpresa()) {
                                            <ng-icon
                                                hlm
                                                name="lucideGem"
                                                size="sm"
                                                hlmTooltip="Tu plan restringe el envío de notificaciones a tu equipo"
                                                class="opacity-90"
                                                routerLink="/mi-plan"
                                            />
                                        }
                                        <h4 hlmH4 class="text-center text-base">Enviar notificaciones por:</h4>
                                    </div>
                                    @if (tienePlanEmpresa()) {
                                        <button
                                            hlmBtn
                                            size="icon"
                                            class="ml-auto! size-7! absolute right-1.5!"
                                            type="button"
                                            [hlmDropdownMenuTrigger]="menuReceptores"
                                        >
                                            <ng-icon name="lucidePlus" class="text-base" />
                                        </button>
                                        <ng-template #menuReceptores>
                                            <hlm-dropdown-menu>
                                                <hlm-dropdown-menu-group>
                                                    @for (tipoReceptor of tiposReceptores(); track tipoReceptor.id) {
                                                        <button hlmDropdownMenuItem (click)="crearDestinatario(tipoReceptor.id)">
                                                            <span class="opacity-85">{{ tipoReceptor.nombre }}</span>
                                                            @if (tipoReceptor.id === 1) {
                                                                <hlm-dropdown-menu-shortcut>
                                                                    <div class="flex items-center justify-center">
                                                                        <ng-icon name="lucideMail" class="text-base" />
                                                                    </div>
                                                                </hlm-dropdown-menu-shortcut>
                                                            } @else if (tipoReceptor.id === 2) {
                                                                <hlm-dropdown-menu-shortcut>
                                                                    <div class="flex items-center justify-center">
                                                                        <ng-icon name="lucideSmartphone" class="text-base" />
                                                                    </div>
                                                                </hlm-dropdown-menu-shortcut>
                                                            }
                                                        </button>
                                                    }
                                                </hlm-dropdown-menu-group>
                                            </hlm-dropdown-menu>
                                        </ng-template>
                                    } @else {
                                        <app-popup-funcionalidad-bloqueada class="ml-auto size-7 absolute right-1.5">
                                            <button hlmBtn size="icon" class="size-7!" type="button">
                                                <ng-icon name="lucidePlus" class="text-base" />
                                            </button>
                                        </app-popup-funcionalidad-bloqueada>
                                    }
                                </div>
                                <div class="pt-0.5 pb-1.5 w-full flex flex-col items-center justify-center gap-1.5 fade-in">
                                    @for (destinatario of form.controls['destinatarios'].controls; track $index) {
                                        <div hlmInputGroup class="fade-in">
                                            <div hlmInputGroupAddon align="block-start" class="pt-1.5! pb-0.5!">
                                                <label [for]="`destino_${$index}`" hlmLabel class="text-xs opacity-80 font-semibold whitespace-nowrap">
                                                    {{ obtenerNombreTipoReceptor(destinatario.controls['idTipoReceptor'].value) }}
                                                </label>
                                                <hlm-field-error
                                                    class="transition-all duration-500 ease-out text-xs ml-auto text-balance text-right"
                                                    [class.opacity-100]="invalid('destino', destinatario)"
                                                    [class.opacity-0]="!invalid('destino', destinatario)"
                                                    [class.max-h-10]="invalid('destino', destinatario)"
                                                    [class.max-h-0]="!invalid('destino', destinatario)"
                                                >
                                                    @if (destinatario.controls['destino'].errors?.['required']) {
                                                        Debes ingresar un
                                                        {{
                                                            destinatario.controls['idTipoReceptor'].value === 1
                                                                ? 'correo electrónico'
                                                                : destinatario.controls['idTipoReceptor'].value === 2
                                                                  ? 'número de Whatsapp'
                                                                  : 'destinatario'
                                                        }}
                                                    }
                                                    @if (destinatario.controls['destino'].errors?.['email']) {
                                                        El correo electrónico ingresado no es válido.
                                                    }
                                                </hlm-field-error>
                                                <button hlmInputGroupButton size="icon-xs" [hlmDropdownMenuTrigger]="borrarDestinatario" class="group">
                                                    <ng-icon name="lucideTrash2" class="group-hover:text-destructive transition-colors" />
                                                </button>
                                                <ng-template #borrarDestinatario>
                                                    <hlm-dropdown-menu>
                                                        <hlm-dropdown-menu-label class="font-normal text-center opacity-80"
                                                            >¿Estás seguro?</hlm-dropdown-menu-label
                                                        >
                                                        <hlm-dropdown-menu-separator />
                                                        <hlm-dropdown-menu-group>
                                                            <button
                                                                hlmDropdownMenuItem
                                                                variant="destructive"
                                                                class="hover:cursor-pointer"
                                                                (click)="eliminarDestinatario($index)"
                                                            >
                                                                ¡Sí, eliminalo!
                                                                <ng-icon hlm size="sm" name="lucideTrash2" />
                                                            </button>
                                                        </hlm-dropdown-menu-group>
                                                    </hlm-dropdown-menu>
                                                </ng-template>
                                            </div>
                                            <input
                                                hlmInputGroupInput
                                                class="transition-all duration-500 ease-out text-sm"
                                                [id]="`destino_${$index}`"
                                                [formControl]="destinatario.controls['destino']"
                                                [formatoTelefono]="destinatario.controls['idTipoReceptor'].value === 2"
                                                [formatoCorreo]="destinatario.controls['idTipoReceptor'].value === 1"
                                                [placeholder]="obtenerDestinoPlaceholder(destinatario.controls['idTipoReceptor'].value)"
                                                [autoFocus]="$last && !destinatario.controls['destino'].value"
                                            />
                                        </div>
                                    } @empty {
                                        <hlm-separator />
                                        <p hlmP class="text-sm mt-1.5">Sin envío de notificaciones</p>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                </fieldset>
            </div>
            <div hlmCardFooter class="flex flex-col items-center gap-4 faster-fade-in">
                @if (error()) {
                    <div hlmAlert variant="destructive">
                        <ng-icon hlm hlmAlertIcon name="lucideTriangleAlert" />
                        <h4 hlmAlertTitle>¡Ocurrió un error!</h4>
                        <p hlmAlertDescription>{{ error() }}</p>
                    </div>
                }
                <div class="w-full flex items-center justify-end gap-6">
                    <button hlmBtn type="button" (click)="cerrar.emit()" class="btnOutlineAzul">Cancelar</button>
                    <button hlmBtn type="submit" [disabled]="form.invalid || cargando()" class="btnAzul">
                        @if (procesando()) {
                            <hlm-spinner />
                        }
                        Guardar
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
