<section class="max-w-screen md:max-w-2xl mx-auto px-6 pt-4 pb-6 fade-in">
    <div class="flex flex-col gap-2">
        <div class="flex flex-col justify-start items-start gap-1 pt-1 pb-5 fade-in">
            <h1 hlmH1>
                Bienvenid@
                @if (informacionUsuario()?.nombre) {
                    <span class="font-bold">{{ informacionUsuario()?.nombre }}</span>
                }
            </h1>
            @if (!negocioSeleccionado()) {
                <hlm-skeleton class="h-7 w-64 rounded-xl" />
            } @else {
                <p hlmP class="font-semibold">
                    Te encuentras en
                    {{ negocioSeleccionado()?.nombre }}
                </p>
            }
            <p hlmP>
                Aquí podrás visualizar y administrar las obligaciones y tareas de tus negocios:
            </p>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 items-stretch gap-3 w-full">
            <a
                hlmItem
                routerLink="/tableros/vencimientos"
                class="bg-(--celeste) [a]:hover:bg-(--celeste)/80 w-full h-full flex flex-row items-start justify-center gap-3 p-8 font-serif text-(--blanco) rounded-none"
            >
                <div hlmItemHeader class="flex flex-col items-center justify-start">
                    <img [src]="urlCalendario" alt="Calendario" class="w-9" />
                    <p class="text-xl text-center">Mi Calendario</p>
                </div>
                <div hlmItemContent class="text-sm text-center text-balance font-light">
                    Revisa y da por completadas tus próximas obligaciones. No dejes que venzan,
                    recuerda que existen multas por no cumplirlas.
                </div>
            </a>
            <a
                hlmItem
                routerLink="/mantenedores/norma-suscrita"
                class="bg-(--naranjo) [a]:hover:bg-(--naranjo)/80 w-full h-full flex flex-row items-start justify-center gap-3 p-8 font-serif text-(--blanco) rounded-none"
            >
                <div hlmItemHeader class="flex flex-col items-center justify-start">
                    <img [src]="urlComprobacionLista" alt="Comprobacion Lista" class="w-9" />
                    <p class="text-xl text-center">Mis Obligaciones</p>
                </div>
                <div hlmItemContent class="text-sm text-center text-balance font-light">
                    Revisa, añade y edita obligaciones de tu negocio. Agrega plantillas
                    predeterminadas según las regulaciones locales.
                </div>
            </a>
            <a
                hlmItem
                routerLink="/mantenedores/negocio"
                class="bg-(--primary) [a]:hover:bg-(--primary)/80 w-full h-full flex flex-row items-start justify-center gap-3 p-8 font-serif text-(--blanco) rounded-none"
            >
                <div hlmItemHeader class="flex flex-col items-center justify-start">
                    <img [src]="urlTienda" alt="Tienda" class="w-9" />
                    <p class="text-xl text-center">Mis Negocios</p>
                </div>
                <div hlmItemContent class="text-sm text-center text-balance font-light">
                    Revisa, añade y administra tus negocios según tu plan con nosotros. Añade nuevos
                    administradores para tus negocios.
                </div>
            </a>
            <a
                hlmItem
                class="bg-(--azul) [a]:hover:bg-(--azul)/80 w-full h-full flex flex-row items-start justify-center gap-3 p-8 font-serif text-(--blanco) rounded-none"
            >
                <div hlmItemHeader class="flex flex-col items-center justify-start">
                    <img [src]="urlCaracteristicas" alt="Características" class="w-9" />
                    <p class="text-xl text-center">Mi Plan</p>
                </div>
                <div hlmItemContent class="text-sm text-center text-balance font-light">
                    Revisa y actualiza los detalles de tu plan (Tipo de plan, métodos de pago,
                    promociones, etc.)
                </div>
            </a>
        </div>
    </div>
</section>
