<div #overlay class="fixed left-0 top-0 right-0 bottom-0 bg-black/70 flex justify-center items-center z-50 p-5">
    <div hlmCard class="max-w-full max-h-full overflow-y-auto overscroll-contain scrollContainer [&::-webkit-scrollbar-track]:my-4 px-3">
        <div hlmCardHeader class="faster-fade-in">
            <div class="flex items-center gap-3">
                <div class="flex items-center justify-center size-6">
                    <ng-icon hlm name="lucideCircleAlert" class="text-destructive" />
                </div>
                <h3 hlmH3 hlmCardTitle>{{ titulo }}</h3>
            </div>
        </div>
        <div hlmCardContent class="faster-fade-in -mt-2">
            <p hlmP class="text-center text-balance mx-1" [innerHTML]="descripcion"></p>
            @if (textoVerificacion) {
                <div class="mt-4">
                    <p class="text-sm mx-1">
                        {{ descripcionTextVerificacion ?? `Para confirmar, escribe a continuación "${textoVerificacion}":` }}
                    </p>
                    <input
                        hlmInput
                        [placeholder]="textoVerificacion"
                        class="mt-2"
                        [value]="textoVerificacionIngresado()"
                        (input)="textoVerificacionIngresado.set($any($event.target).value)"
                    />
                </div>
            }
        </div>
        <div hlmCardFooter class="flex items-center justify-end gap-3 md:gap-6 faster-fade-in">
            <button hlmBtn (click)="cerrar.emit()" class="btnOutlineAzul">
                {{ textoBotonCancelar }}
            </button>
            <button
                hlmBtn
                variant="destructive"
                (click)="confirmarEliminacion()"
                [disabled]="textoVerificacion && textoVerificacion !== textoVerificacionIngresado()"
            >
                {{ textoBotonEliminar }}
            </button>
        </div>
    </div>
</div>
