<div
    class="fixed left-0 top-0 p-4 bg-black/70 w-screen h-screen flex justify-center items-center z-50"
    (click)="cerrar.emit()"
>
    <div hlmCard (click)="$event.stopPropagation()">
        <div hlmCardHeader>
            <div class="flex items-center gap-4">
                <div class="text-red-700">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="size-7"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z"
                        />
                    </svg>
                </div>
                <h3 hlmCardTitle>{{ titulo }}</h3>
            </div>
            <hlm-separator />
        </div>
        <div hlmCardContent>
            <p hlmP class="text-center text-balance">
                {{ descripcion }}
            </p>
        </div>
        <div hlmCardFooter class="flex items-center justify-end gap-6">
            <button hlmBtn variant="secondary" (click)="cerrar.emit()">Cancelar</button>
            <button hlmBtn variant="destructive" (click)="confirmarEliminacion()">Eliminar</button>
        </div>
    </div>
</div>
