<div
    class="fixed left-0 top-0 bg-black/70 w-screen h-screen flex justify-center items-center z-50"
    (click)="cerrar.emit()"
>
    <div hlmCard (click)="$event.stopPropagation()" class="min-w-xs">
        <div hlmCardHeader>
            <div class="flex items-center gap-4">
                <div class="text-green-700">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="size-7"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"
                        />
                    </svg>
                </div>
                <h3 hlmCardTitle>{{ titulo }}</h3>
            </div>

            <hlm-separator />
        </div>
        <div hlmCardContent>
            <fieldset hlmFieldSet>
                <div hlmFieldGroup class="gap-3">
                    @for (campo of campos; track campo.llave) { @if (campo.tipo !== 'oculto') {
                    <div hlmField class="gap-1">
                        @if (campo.tipo === 'string' || campo.tipo === 'number') {
                        <div hlmButtonGroup>
                            <div
                                hlmButtonGroupText
                                class="transition-all duration-500 ease-out"
                                [class.border-destructive]="invalid(campo.llave)"
                                [class.text-destructive]="invalid(campo.llave)"
                            >
                                <label
                                    [for]="campo.llave"
                                    hlmLabel
                                    class="opacity-80 font-semibold whitespace-nowrap"
                                    >{{ campo.nombre ?? campo.llave }}</label
                                >
                            </div>
                            <div hlmInputGroup>
                                @if (campo.tipo === 'string') {
                                <input
                                    hlmInputGroupInput
                                    type="text"
                                    class="transition-all duration-500 ease-out"
                                    [id]="campo.llave"
                                    [formControl]="form.controls[campo.llave]"
                                />
                                } @if (campo.tipo === 'number') {
                                <input
                                    hlmInputGroupInput
                                    type="number"
                                    class="transition-all duration-500 ease-out"
                                    [id]="campo.llave"
                                    [formControl]="form.controls[campo.llave]"
                                />
                                }
                            </div>
                        </div>
                        } @if (campo.tipo === 'boolean') {
                        <div class="flex justify-end-safe items-center gap-4">
                            <label [for]="campo.llave" hlmLabel class="opacity-80 font-semibold">{{
                                campo.nombre ?? campo.llave
                            }}</label>
                            <hlm-switch
                                [id]="campo.llave"
                                class="scale-[120%]"
                                [checked]="form.controls[campo.llave].value"
                                (checkedChange)="form.controls[campo.llave].setValue($event)"
                            />
                            @if(form.controls[campo.llave].value) {
                            <ng-icon hlm name="lucideBadgeCheck" class="text-green-700" />
                            } @else {
                            <ng-icon hlm name="lucideBadgeX" class="text-destructive" />
                            }
                        </div>
                        }
                        <hlm-field-error
                            class="transition-all duration-500 ease-out"
                            [class.opacity-100]="invalid(campo.llave)"
                            [class.opacity-0]="!invalid(campo.llave)"
                            [class.max-h-10]="invalid(campo.llave)"
                            [class.max-h-0]="!invalid(campo.llave)"
                            >Debes ingresar el "{{ campo.nombre ?? campo.llave }}"</hlm-field-error
                        >
                    </div>
                    } }
                </div>
            </fieldset>
        </div>
        <div hlmCardFooter class="flex items-center justify-end gap-6">
            <button hlmBtn variant="secondary" (click)="cerrar.emit()">Cancelar</button>
            <button hlmBtn (click)="confirmar()" [disabled]="form.invalid">Guardar</button>
        </div>
    </div>
</div>
