@import '@spartan-ng/brain/hlm-tailwind-preset.css';

:root {
    --calipso: oklch(70.1% 0.122 212.27);
    --blanco: oklch(100% 0 0);
    --azul: oklch(48.25% 0.154 254.11);
    --celeste: oklch(68.77% 0.137 248.65);
    --naranjo: oklch(76.79% 0.153 51.03);
    --negro: oklch(29.7% 0.013 267.1);
    --gris: oklch(97.02% 0 0);
}

:root {
    color-scheme: light;

    --font-sans:
        'Open Sans', Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: 'Source Serif 4', Georgia, 'Times New Roman', serif;

    --radius: 0.625rem;
    --background: var(--blanco);
    --foreground: oklch(from var(--negro) l c h / 0.9);
    --card: var(--blanco);
    --card-foreground: oklch(from var(--negro) l c h / 0.9);
    --popover: var(--blanco);
    --popover-foreground: var(--negro);
    --primary: var(--azul);
    --primary-foreground: var(--blanco);
    --secondary: var(--blanco);
    --secondary-foreground: var(--azul);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.92 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(53.665% 0.21721 28.015);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: var(--azul);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

:root.dark {
    color-scheme: dark;

    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.985 0 0);
    --sidebar-primary-foreground: oklch(0.205 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
    --color-calipso: var(--calipso);
    --color-blanco: var(--blanco);
    --color-azul: var(--azul);
    --color-celeste: var(--celeste);
    --color-naranjo: var(--naranjo);
    --color-gris: var(--gris);
    --color-negro: var(--negro);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}

button[brnselecttrigger] {
    @apply shadow-none w-full;
}

button[brnselecttrigger] > div {
    width: calc(100% - 16px - var(--spacing) * 2 - var(--spacing) * 3);
}

span[hlmBadge] {
    @apply rounded-sm h-auto py-0.5;
}

span[hlmBadge].badgeAzul {
}

span[hlmBadge] ng-icon {
    --ng-icon__size: 12px !important;
}

span[hlmBadge][variant='destructive'] {
    @apply text-blanco bg-destructive;
}

button[brnaccordiontrigger] {
    @apply py-0 hover:no-underline;
}

[data-slot='accordion-content'] > div {
    @apply pb-0;
}

div[hlmalert] {
    @apply rounded-none;
}

ng-icon[hlmalerticon] {
    --ng-icon__size: 16px !important;
}

div[hlmalert][variant='destructive'] {
    @apply border-destructive bg-destructive/5;
}

div[hlmalertdescription],
p[hlmalertdescription] {
    @apply text-pretty [&_a]:no-underline [&_a]:hover:text-primary;
}

a[hlmbreadcrumblink],
span[hlmbreadcrumbpage] {
    @apply font-serif;
}

span[hlmbreadcrumbpage] {
    @apply font-semibold text-negro/80;
}

a[hlmbtn]:not([size]),
button[hlmbtn]:not([size]) {
    @apply h-8 px-6 py-2 has-[>ng-icon]:px-3;
}

a[hlmbtn][size='sm'],
button[hlmbtn][size='sm'] {
    @apply h-8 gap-1.5 rounded-full px-3 has-[>ng-icon]:px-2.5;
}

a[hlmbtn][size='lg'],
button[hlmbtn][size='lg'] {
    @apply h-10 rounded-full px-10 has-[>ng-icon]:px-4;
}

a[hlmbtn][size='icon'],
button[hlmbtn][size='icon'] {
    @apply size-9;
}

a[hlmbtn][size='icon-sm'],
button[hlmbtn][size='icon-sm'] {
    @apply size-8;
}

a[hlmbtn][size='icon-lg'],
button[hlmbtn][size='icon-lg'] {
    @apply size-10;
}

a[hlmbtn],
button[hlmbtn] {
    @apply cursor-pointer shadow-none;
}
a[hlmbtn][variant='default'],
button[hlmbtn][variant='default'],
a[hlmbtn]:not([variant]):not(.btnAzul):not(.btnOutlineAzul),
button[hlmbtn]:not([variant]):not(.btnAzul):not(.btnOutlineAzul) {
    @apply bg-primary text-primary-foreground hover:bg-primary/80 rounded-full border-0;
}

a[hlmbtn].btnAzul,
button[hlmbtn].btnAzul {
    @apply bg-azul text-blanco hover:bg-azul/80 rounded-full border-0;
}

a[hlmbtn].btnOutlineAzul,
button[hlmbtn].btnOutlineAzul {
    @apply bg-transparent hover:bg-transparent border-azul hover:border-azul/80 text-azul hover:text-azul/80 border-2 rounded-full has-[>ng-icon]:gap-2;
}

a[hlmbtn][variant='outline'],
button[hlmbtn][variant='outline'] {
    @apply bg-transparent hover:bg-transparent hover:text-accent-foreground border rounded-full;
}

a[hlmbtn][variant='secondary'],
button[hlmbtn][variant='secondary'] {
    @apply bg-transparent hover:bg-accent/20 text-secondary-foreground rounded-full border-2 border-primary hover:border-primary/80;
}

a[hlmbtn][variant='ghost'],
button[hlmbtn][variant='ghost'] {
    @apply hover:bg-accent hover:text-accent-foreground;
}

a[hlmbtn][variant='link'],
button[hlmbtn][variant='link'] {
    @apply text-negro/80 decoration-azul border-0  has-[>ng-icon]:gap-2;
}

a[hlmbtn][variant='destructive'],
button[hlmBtn][variant='destructive'] {
    @apply bg-destructive hover:bg-destructive/80 text-blanco rounded-full;
}
