@layer theme, base, components, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css';

@import '@angular/cdk/overlay-prebuilt.css';

/* You can add global styles to this file, and also import other style files */

@import '@spartan-ng/brain/hlm-tailwind-preset.css';

:root {
    color-scheme: light;

    --font-sans:
        Roboto, 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial,
        'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
    --font-serif: 'Source Serif 4', Georgia, 'Times New Roman', serif;

    --radius: 0.625rem;
    --background: oklch(100% 0 0);
    --foreground: oklch(29.7% 0.013 267.1 / 0.9);
    --card: oklch(100% 0 0);
    --card-foreground: oklch(29.7% 0.013 267.1 / 0.9);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(70.1% 0.122 212.27);
    --primary-foreground: oklch(100% 0 0);
    --secondary: oklch(100% 0 0);
    --secondary-foreground: oklch(70.1% 0.122 212.27);

    --blanco: oklch(100% 0 0);
    --azul: oklch(48.25% 0.154 254.11);
    --celeste: oklch(68.77% 0.137 248.65);
    --naranjo: oklch(76.79% 0.153 51.03);
    --negro: oklch(29.7% 0.013 267.1);
    --gris: oklch(97.02% 0 0);

    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.92 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(53.665% 0.21721 28.015);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(70.1% 0.122 212.27);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

:root.dark {
    color-scheme: dark;

    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.985 0 0);
    --sidebar-primary-foreground: oklch(0.205 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}

button[brnselecttrigger] {
    width: 100%;
}

button[brnselecttrigger] > div {
    width: calc(100% - 16px - var(--spacing) * 2 - var(--spacing) * 3);
}

@layer components {
    .fade-in {
        @apply opacity-0 transition-opacity duration-1000 ease-out;
        animation: fadeIn 1s forwards;
    }

    .faster-fade-in {
        @apply opacity-0 transition-opacity duration-300 ease-out;
        animation: fadeIn 0.3s forwards;
    }

    @keyframes fadeIn {
        to {
            opacity: 1;
        }
    }
}

app-root {
    opacity: 0;
    transition: opacity 120ms ease-in;
}

app-root.app-ready {
    opacity: 1;
}

.scrollContainer::-webkit-scrollbar {
    width: 5px;
}

.scrollContainer::-webkit-scrollbar-track {
    background: transparent;
}

.scrollContainer::-webkit-scrollbar-thumb {
    background: var(--azul);
    border-radius: 999px;
    background-clip: content-box;
}
