<hlm-popover sideOffset="5">
    <button hlmPopoverTrigger hlmBtn variant="azul" class="has-[>ng-icon]:pl-3 has-[>ng-icon]:pr-5">
        <ng-icon hlm name="lucideGem" size="sm" />
        <ng-content></ng-content>
    </button>
    <hlm-popover-content *hlmPopoverPortal="let ctx" class="rounded-none w-80 shadow-none">
        <div class="flex flex-col items-center justify-center gap-1.5">
            <h4 hlmH4 class="text-lg text-center">Funcionalidad Bloqueada 😦</h4>
            <p hlmP class="text-sm text-center text-balance">
                ¡Ups! parece que tu plan actual no te permite hacer esto.
            </p>
            <a
                hlmBtn
                variant="link"
                routerLink="/mi-plan"
                class="mt-0 pt-0 text-popover-foreground text-center"
            >
                <ng-icon hlm name="lucideArrowRight" size="sm" />
                Actualiza tu plan aquí
                <ng-icon hlm name="lucideArrowLeft" size="sm"
            /></a>
        </div>
    </hlm-popover-content>
</hlm-popover>
